[2018-07-04 19:08] alan-baker opened #1 "Pipeline segfaults in image lowering"
[pipeline.zip](https://github.com/GPUOpen-Drivers/llpc/files/2164163/pipeline.zip)

The attached pipeline segfaults during image lowering. Run:
[code]

[2018-07-05 05:19] #1 closed

[2018-07-27 23:40] cmr opened #5 "Structs with no members segfault"
calcShaderBlockSize does getStructMemberType(0) but there's no members! Shader triggering this is attached. (It has other problems)

[code]

[2018-07-27 23:58] cmr commented on #5
backtrace from a RelWithDebInfo:

[code]

[2018-07-28 12:19] linqunzju commented on #5
Reproduced. there are 3 issues.
- decoration Offset and ArrayStride are missed in your shader source. please add following code in your source code.
               OpMemberDecorate %struct_0 0 Offset 0
               OpMemberDecorate %struct_1  0 Offset 0
               OpMemberDecorate %struct_1  1 Offset 4
               OpDecorate %u32_array_runtime_array ArrayStride 128
               OpDecora

[2018-08-20 01:09] #5 closed

[2019-04-15 19:56] s-perron opened #57 "Invalid llvm-ir generated in the emulib."
When  function is defined with a particular calling convention, all calls to that function must use the same calling convention.  Some of the code generated in the emulation library does not follow this convention.  One example is in `@_Z9normalizeDv3_f`.  Here is the generated code:

[code]

Notice the call to `@_Z6lengthDv3_f` does not have a calling convention mentioned, which means it defaults

[2019-04-15 19:58] trenouf commented on #57
Thanks Steven. I spotted that one too. Definitely need to think about it if we move to not inlining everything.

[2019-05-02 14:20] s-perron opened #65 "shaderdb test don't run correctly"
When I follow the instructions to run the test, every test fails because it cannot find SPVGEN.  The output from one of the tests is given below.  SPVGEN has been build.  I can see it in the build directory, but it is not on the path that is being looked for.  If I add the path to LD_LIBRARY_PATH, the tests start to work.

This is bad because the tests may work or fail because it will pick up whic

[2019-05-02 14:26] trenouf commented on #65
The idea is that the "-spvgen-dir" option you see on the amdllpc line should have the directory where it put spvgen.so when it built it. But it is empty in your output.

Did you try "make check-amdllpc" first? That might be needed to ensure everything is set up before you try using a manual llvm-lit.

[2019-05-02 14:58] s-perron commented on #65
Yes, I did try `make check-amdllpc` first.  That is where I first saw the errors.  However, I updated all of the repos, and recompiled.  It started to work fine after that.

[2019-05-02 14:58] #65 closed

[2019-05-02 15:20] trenouf commented on #65
I guess that makes sense as I changed the lit test running fairly recently, maybe a couple of weeks ago. Glad it works for you now.

[2019-09-07 15:26] mcoffin commented on #57
There are many more issues to address if we ever remove inlining. There's a bunch of usage of intrinsics which require immediate-only operands which are not *necessarily* being used with an immediate until the function finally gets inlined at the end of the day. It's why GPUOpen-Drivers/llvm@0587d403b8a27a6ed67e8c349112d075f2ba4a71is still needed to compile the llpc emulation library with LLVM rig

[2019-09-13 10:29] paulthomson opened #203 "dEQP-VK.graphicsfuzz.call-if-while-switch"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[call-if-while-switch.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609582/call-if-while-switch.zip)

[2019-09-13 10:30] paulthomson opened #204 "dEQP-VK.graphicsfuzz.complex-nested-loops-and-call"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[complex-nested-loops-and-call.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609617/complex-nested-loops-and-call.zip)

[2019-09-13 10:30] paulthomson opened #205 "dEQP-VK.graphicsfuzz.control-flow-in-function"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[control-flow-in-function.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609619/control-flow-in-function.zip)

[2019-09-13 11:02] paulthomson opened #206 "dEQP-VK.graphicsfuzz.discard-continue-return"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[discard-continue-return.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609715/discard-continue-return.zip)

[2019-09-13 11:03] paulthomson opened #207 "dEQP-VK.graphicsfuzz.loop-dead-if-loop"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[loop-dead-if-loop.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609716/loop-dead-if-loop.zip)

[2019-09-13 11:03] paulthomson opened #208 "dEQP-VK.graphicsfuzz.loop-nested-ifs"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[loop-nested-ifs.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609719/loop-nested-ifs.zip)

[2019-09-13 11:04] paulthomson opened #209 "dEQP-VK.graphicsfuzz.loops-ifs-continues-call"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[loops-ifs-continues-call.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609722/loops-ifs-continues-call.zip)

[2019-09-13 11:04] paulthomson opened #210 "dEQP-VK.graphicsfuzz.max-mix-conditional-discard"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[max-mix-conditional-discard.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609724/max-mix-conditional-discard.zip)

[2019-09-13 11:05] paulthomson opened #211 "dEQP-VK.graphicsfuzz.mix-floor-add"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[mix-floor-add.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609727/mix-floor-add.zip)

[2019-09-13 11:05] paulthomson opened #212 "dEQP-VK.graphicsfuzz.modf-gl-color"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[modf-gl-color.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609729/modf-gl-color.zip)

[2019-09-13 11:06] paulthomson opened #213 "dEQP-VK.graphicsfuzz.modf-temp-modf-color"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[modf-temp-modf-color.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609732/modf-temp-modf-color.zip)

[2019-09-13 11:07] paulthomson opened #214 "dEQP-VK.graphicsfuzz.similar-nested-ifs"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[similar-nested-ifs.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609734/similar-nested-ifs.zip)

[2019-09-13 11:07] paulthomson opened #215 "dEQP-VK.graphicsfuzz.two-loops-matrix"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[two-loops-matrix.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609738/two-loops-matrix.zip)

[2019-09-13 11:07] paulthomson opened #216 "dEQP-VK.graphicsfuzz.two-loops-set-struct"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[two-loops-set-struct.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609739/two-loops-set-struct.zip)

[2019-09-13 11:08] paulthomson opened #217 "dEQP-VK.graphicsfuzz.two-loops-with-break"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[two-loops-with-break.zip](https://github.com/GPUOpen-Drivers/llpc/files/3609743/two-loops-with-break.zip)

[2019-09-16 06:02] amdrexu commented on #203
Are those issues urgent for you? We need to know the priority.

[2019-09-16 15:43] paulthomson commented on #203
These are not urgent. Thanks.

[2019-09-17 03:04] amdrexu commented on #203
Thank you for feedbacks. We will arrange resources to handle those issues.

[2019-09-17 03:06] jinjianrong commented on #203
@paulthomson
Paul, would you like to take the ownership to fix these issues?

[2019-09-17 03:11] amdrexu commented on #203
I will assign those issues to developers. If someone else believes he can handle this, feel free to reassign it to yourself and make comments in the issue ticket.

[2019-09-17 07:49] amdrexu commented on #211
The addend is from a integer bit-cast with the value of <i32 38730, i32 63193, i32 63173>. This value is finally converted to denormals and LLVM applies constant folding for fmuladd, which causes a assert. Will further determine how to fix.

[2019-09-17 11:45] dnovillo commented on #203
@jinjianrong I will assign them to myself for now.  I will re-assign as folks start working on them internally.

[2019-09-17 11:46] dnovillo commented on #203
@jinjianrong

We will need access to this repository.  I am not allowed to assign issue to me at the moment.  How do we get access?  Thanks.

[2019-09-17 15:28] kuhar commented on #217
This seems to a BB iterator invalidation bug in LLVM's FlattenCFG pass. The code is unchanged in ToT LLVM. I'll look further into this, try to reproduce it in LLVM, and report back.

[2019-09-17 18:34] kuhar commented on #217
I reproduced it in the ToT LLVM and submitted a patch for review here: https://reviews.llvm.org/D67672

[2019-09-17 19:22] kuhar commented on #215
This fails in llpcCompiler.cpp:220:
[code]
With the error message: `unsupported dynamic alloca`.
Not sure what the intention was here -- perhaps to emit diagnostics and terminate on `DS_Error`s? In that case, I'd expect to see something like `llvm::report_fatal_error` used instead of the assertion.

Similar applied to issue #214.

[2019-09-18 00:34] linqun commented on #215
please check whether there are some alloca in the middle of function. if yes, please try to find which pass add it and try to move it to the begin of function.

[2019-09-19 19:40] kuhar commented on #217
The fix was committed in https://reviews.llvm.org/rL372347 and should resolve the issue after updating LLVM.

[2019-09-20 22:27] kuhar commented on #213
Not whether this input spv is valid.

The crash happens when translating the last OpExtInst:
[code]

The second argument to `Modf` is in address space 65, instead of 5. Due to type mismatch

This seems similar to the issue reported here: https://github.com/KhronosGroup/SPIRV-Cross/issues/1123.

If the input spv is valid, would it be enough to just introduce an address space cast before passing the

[2019-09-21 11:35] trenouf commented on #213
I wonder if this is fixed by my outstanding PR #169, which reimplements Modf with a separate ModfStruct and store in the spir-v reader.

I guess the problem at the moment might be that the modf is a library function, so it eventually expands to have a store, but not in time for LowerGlobal to spot that it is a store to an output.

[2019-09-23 21:47] jaebaek commented on #205
I built it in Release 64bit mode based on [AMDVLK](https://github.com/GPUOpen-Drivers/AMDVLK#64-bit-build) and [spvgen](https://github.com/GPUOpen-Drivers/spvgen#how-to-build), but I cannot reproduce this bug.

Did someone fix this already?

[2019-09-23 21:48] jaebaek commented on #204
I built it in Release 64bit mode based on [AMDVLK](https://github.com/GPUOpen-Drivers/AMDVLK#64-bit-build) and [spvgen](https://github.com/GPUOpen-Drivers/spvgen#how-to-build), but I cannot reproduce this bug.

Did someone fix this already?

[2019-09-23 21:59] jaebaek commented on #207
I built it in Release 64bit mode based on [AMDVLK](https://github.com/GPUOpen-Drivers/AMDVLK#64-bit-build) and [spvgen](https://github.com/GPUOpen-Drivers/spvgen#how-to-build), but I cannot reproduce this bug.

Did someone fix this already?

[2019-09-23 22:03] jaebaek commented on #212
I cannot reproduce the failure. I want to doublecheck if this is already fixed.

[2019-09-23 22:03] jaebaek commented on #216
I cannot reproduce the failure. I want to doublecheck if this is already fixed.

[2019-09-24 10:38] paulthomson commented on #204
I used a Debug release.

[2019-09-24 10:38] paulthomson commented on #205
I used a Debug release.

[2019-09-24 10:38] paulthomson commented on #207
I used a Debug release.

[2019-09-24 10:38] paulthomson commented on #212
I used a Debug release.

[2019-09-24 10:38] paulthomson commented on #216
I used a Debug release.

[2019-09-24 14:08] amdrexu commented on #205
To reproduce this issue, a debug version of AMDLLPC might be required.

[2019-09-24 14:15] kuhar commented on #207
I can reproduce in Debug mode on the master branch. Looking into it.

[2019-09-24 17:12] MarcinKantochAMD commented on #216
Hi Paul. I tested today and can't reproduce the issue.

[2019-09-24 17:19] MarcinKantochAMD commented on #215
Hi Paul. I tested today and can't reproduce the issue anymore.

[2019-09-24 17:25] MarcinKantochAMD commented on #214
Hi Paul. I ran the test today on LLPC stack and it is passing.

[2019-09-24 17:29] MarcinKantochAMD commented on #213
I ran the test today and it is passing on our LLPC stack.

[2019-09-24 17:30] MarcinKantochAMD commented on #212
I ran the test today and it is passing on our LLPC stack.

[2019-09-24 17:35] MarcinKantochAMD commented on #211
I tested today and the test is passing on LLPC stack. Does it fail or throw an assert? I am testing with a release build.

[2019-09-24 17:36] MarcinKantochAMD commented on #210
I tested today and the test is passing on our LLPC stack.

[2019-09-24 17:38] MarcinKantochAMD commented on #209
I can't find this test yet available. Can you verify Paul that the name is correct.

[2019-09-24 17:39] MarcinKantochAMD commented on #208
I can't reproduce the issue with our LLPC stack.

[2019-09-24 17:49] paulthomson commented on #208
This still fails for me. Are you using a 64 bit debug build of the dev branch?

[2019-09-24 17:49] paulthomson commented on #208
[code]

[2019-09-24 17:56] kuhar commented on #208
I can reproduce it on master in Debug mode.

[2019-09-24 18:01] MarcinKantochAMD commented on #216
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #215
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #214
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #213
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #212
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #211
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #210
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:01] MarcinKantochAMD commented on #209
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:02] MarcinKantochAMD commented on #208
Sorry Paul. I was not aware that your issues relate to Debug build. I was testing with a Release build.

[2019-09-24 18:06] kuhar commented on #207
I submitted an LLVM commit fixing the issue here: https://reviews.llvm.org/D67974

[2019-09-24 18:18] paulthomson commented on #208
Yes, sorry I should have made this clearer.

[2019-09-24 20:06] paulthomson commented on #209
Some of the tests are still pending CLs but the AmberScript file and the SPIR-V shader is attached.

[2019-09-24 20:36] kuhar commented on #206
I can't reproduce this bug on master nor dev (debug build).

[2019-09-25 09:36] paulthomson commented on #206
Hmm this still fails for me. Here is what I did.

In a AMDVLK directory:

[code]

After extracting the attached SPIR-V shader somewhere:

[code]

[2019-09-25 09:57] paulthomson commented on #206
I am guess updating to a newer SPIR-V validator may fix this. Or perhaps I am somehow stuck with an old, stale version in my build.

[2019-09-25 10:16] amdrexu commented on #206
If this error is caused by SPIR-V validation. You can build a spirv-val.exe from the repo: https://github.com/KhronosGroup/spirv-tools. If newer version fixes it, then it is caused by old validation rules.
If you want to continue to look into the failure other than SPIR-V validation, you can add this option when using AMDLLPC: --val=false. This will turn off SPIR-V validation.

[2019-09-25 10:20] paulthomson commented on #206
Thanks! I may add this to my testing command, although perhaps it is useful to find these "bugs" so that they can be "fixed" by updating SPIRV-Tools.

[2019-09-25 10:20] paulthomson commented on #206
I confirm that a newer build does not fail validation.

[2019-09-25 10:22] paulthomson commented on #206
With `-val=false`, the shader does indeed compile successfully. So the only fix needed is to update SPIRV-Tools.

[2019-09-25 10:29] amdrexu commented on #206
Thanks for feedbacks. We will update SPVGEN.

[2019-09-25 14:05] kuhar commented on #207
The fix was committed in https://reviews.llvm.org/rL372874.

[2019-09-25 16:14] jaebaek commented on #209
Sent a PR: https://reviews.llvm.org/D68032

[2019-09-25 22:26] kuhar commented on #204
Seems like there is a bug in `SILowerI1Copies.cpp` (an LLVM MachineFunction pass).

It happens during the 54th iteration of the inner for loop over machine instructions in `SILowerI1Copies::lowerPhis` when a phi has a use in the same machine basic block:
[code]

The pass attempts to create a new register and replace the Phi with a new register placed at the end of the block. This is how the machin

[2019-09-26 09:29] trenouf commented on #204
Hi Jakub

I'll pass this on to Matt and Stas (AMD engineers on the compute side), who look like the people most linked with SILowerI1Copies, and see what we get back.

[2019-09-26 14:17] nhaehnle commented on #204
I haven't been able to do a full analysis on this and will have to take a closer look at the CFG overall. What I *can* say is that the new value %153 is almost certainly correct where it is (or at least "more correct" than moving it would be). This is because we certainly want a defined value to be used in the V_CNDMASK_B32, since thats what's happens in the original code.

[2019-09-26 14:53] arsenm commented on #204
This is some confusing shadowing to me; I would assume the second MBB really intended to be the current iterated block, not the predecessor
`
for (MachineBasicBlock *MBB : PIA.predecessors())
          SSAUpdater.AddAvailableValue(MBB, insertUndefLaneMask(*MBB));

`

[2019-09-26 15:03] kuhar commented on #204
Thanks @trenouf!

@nhaehnle, @arsenm thank you for looking into this and your insights.
Can you recommend me some resources to learn more about what SILowerI1Copies is trying to achieve and why? I don't fully understand the transformation after reading the header and the implementation files.
To be specific, I'm confused about what values are supposed to flow into the uses in the middle of blocks

[2019-09-26 15:06] arsenm commented on #204
Fundamentally SILowerI1Copies is a SelectionDAG workaround. In the DAG we don't have the necessary context to know how to treat a boolean value. We use the pseudo register-class VReg_1, and then SILowerI1Copies sorts out when it's appropriate to use a real lane mask for these values.

[2019-09-26 15:21] jaebaek commented on #209
The PR was merged: https://github.com/llvm/llvm-project/commit/d98cb81cd11c8a4d7017c4820cae202d31d757bb

[2019-09-26 15:22] jaebaek commented on #205
Yes, I can reproduce it with the debug build. Thank for you doublechecking it.
I am investigating this issue now.

[2019-09-26 18:33] trenouf commented on #204
Stas said:

If it did replace %153 with %584 it should probably also replace its uses with the new %584. I see that COPY left using %153.

[2019-09-26 18:41] kuhar commented on #204
Yes, but the new value %584 does not dominate the use, even if the use gets updated.

[2019-09-26 19:12] trenouf commented on #204
Nicolai said (in reply to Stas's comment):

%584 may just be an artefact of how the registers are swapped around in order to erase instructions.

[2019-09-27 17:17] kuhar commented on #210
LLPC fails in `SIInstrInfo.cpp:3197` when verifying the following instruction:
[code]

The diagnostic message is for the 0th operand and says:
`Illegal immediate value for operand.`

I don't understand MIR to tell what the issue is here.

[2019-09-27 19:03] nhaehnle commented on #204
@kuhar, I've root-caused a first issue to a subtle bug in the MachineSSAUpdater, but there's a follow-on issue that I'm currently looking at.

[2019-09-27 19:11] kuhar commented on #204
@nhaehnle OK. Let me know if you need help with this issue.

[2019-09-27 19:14] kuhar commented on #207
After doing some cleanup in LLVM when working on this issue, a new issue with MachineDominators surfaced: PHIElimination lied about preserving MDT. I submitted a fix here: https://reviews.llvm.org/D68154
Not sure if the AMDGPU target uses this part of the machine pass pipeline, but may be work merging in this fix too.

[2019-09-27 19:31] nhaehnle commented on #204
@kuhar, the branch here with two simple changes allows the problematic shader to compile: https://github.com/nhaehnle/llvm-project/tree/wip-github-llpc-204

I'm currently travelling and not setup to run amber tests. Could you please check whether those changes fully fix the issue in the dEQP-VK test?

[2019-09-27 20:09] kuhar commented on #204
@nhaehnle Applying the patches seems to fix the issue - MIR verifier correctly now.

[2019-09-28 16:41] nhaehnle commented on #204
See https://reviews.llvm.org/D68183 and https://reviews.llvm.org/D68184

[2019-10-01 13:42] s-perron opened #251 "Inconsistent use of LLPC_CLIENT_INTERFACE_MAJOR_VERSION"
The `entryStage` member of the `PipelineShaderInfo` struct is only defined if `LLPC_CLIENT_INTERFACE_MAJOR_VERSION >= 21`.  See [here](https://github.com/GPUOpen-Drivers/llpc/blob/b088b87ee23740e16301444d85ec0e9921504a8a/include/llpc.h#L365).

However, not all uses of it are guarded by that macro.  See [here](https://github.com/GPUOpen-Drivers/llpc/blob/dev/context/llpcCompiler.cpp#L846).

[2019-10-02 02:45] kuhar commented on #207
The Machine (Post)Dominators should be fully fixed now by the series of LLVM commits:

1. https://reviews.llvm.org/rL373341 : [Dominators][CodeGen] Add MachinePostDominatorTree verification.
2. https://reviews.llvm.org/rL373376 : Reapply [Dominators][CodeGen] Clean up MachineDominators.
3. https://reviews.llvm.org/rL373377 : [Dominators][CodeGen] Fix MachineDominatorTree preservation in PHIElimina

[2019-10-08 01:42] linqun commented on #251
Yes, it is our fault. we will fix it ASAP.

[2019-10-08 15:31] nhaehnle commented on #204
@amdrexu @paulthomson @kuhar We should probably close this issue given that the fix has gone into upstream LLVM, but I don't seem to have the rights to actually do that.

[2019-10-08 15:36] paulthomson commented on #204
Or we could close it when the LLVM version is updated, possibly adding a "fixed in LLVM" label (or something like that). We don't have continuous running of these tests yet, but when we do, the automation could create/re-open issues like this one automatically unless the dev branch is passing.

[2019-10-09 17:25] kuhar commented on #215
This issue is fixed and can be closed.

[2019-10-09 17:26] kuhar commented on #208
This issue is fixed and can be closed.

[2019-10-16 16:53] jaebaek commented on #205
Sorry. I spent some time but I do not understand it. It is complicated. Let me unassign me for now.

[2019-10-18 14:53] kuhar commented on #203
This issue is fixed and can be closed.

[2019-11-01 02:47] s-perron opened #314 "Fragment shader not writing to depth buffer correctly"
I have noticed a shader that does not write to the depth buffer correctly.  It seems like two OpKills with a load of an image are needed.  I find it very odd that the load of the image makes a difference.

I will attached a reduced version of the spir-v, and the gcn that was generated.  In the gcn, there is a sample trace through the code that shows the problem.  Please let me know if I have misun

[2019-11-01 02:52] s-perron commented on #314
[reduced.trace.gcn.txt](https://github.com/GPUOpen-Drivers/llpc/files/3796499/reduced.trace.gcn.txt)
[reduced.spvasm.txt](https://github.com/GPUOpen-Drivers/llpc/files/3796500/reduced.spvasm.txt)

[2019-11-01 03:36] s-perron commented on #314
I need to go back to the drawing board.  The first instructions in BB0_4 is an OR, but I treated it like an AND.

[2019-11-01 05:44] linqun commented on #314
What will happen if change the sample function from texture to textureLod?
use textureLod can avoid set whole quad mode (s_wqm_b64), and simplify the generated gcn code.

[2019-11-01 16:47] s-perron commented on #314
After looking at it more, I believe the implicit lod is required for to see the problem.  The `s_wqm_b64` instruction is done at the start of the function.  Presumebly because the implicit lod needs all threads in the quad to be active.

However, after the code related to the first `OpKill`, some threads will get turned off.  When the image_sameple_b is reached, not every thread in quads with acti

[2019-11-01 18:56] s-perron commented on #314
After looking at it further, I believe that the "SI Whole Quad Mode" is not complete.

Non uniform control flow will cause a work group that is in whole quad mode to no longer be in whole quad mode because part of a quad could go one way and the rest another.  However, there is no instruction to put it back into whole quad mode.

I can take a look at it next week if nobody is looking at it yet.

H

[2019-11-01 18:56] s-perron commented on #314
Here is the code that llpc generates for the new example

[code]

[2019-11-02 01:34] perlfu commented on #314
The "SI Whole Quad Mode" implementation currently only supports Vulkan's model of implicit derivatives.  The behaviour of these is only defined for uniform control flow.

From SPIRV 1.5 spec.:

I haven't stared hard at the shader here, but I suspect this limitation might be what you are running into.

[2019-11-02 01:46] perlfu commented on #314
If this is the case, then you probably need to be using the `DemoteToHelperInvocationEXT` extension, substituting `OpDemoteToHelperInvocationEXT` for `OpKill` instructions.
Note that `OpDemoteToHelperInvocationEXT` is not a terminator, so it's not always a simple substitution as branches must converge.
I've been looking at adding a pass to do this automatically for shaders which rely on this kind

[2019-11-04 14:24] s-perron commented on #314
Thanks for the explaination.  That sound exactly like what is going on.  This was an hlsl shader being compiled for Vulkan instead of directx.  I now think this should be fixed in DXC.  It should generate the new instruction instead of an OpKill.

Also the pass you are looking at writing might be better in spirv-tools.  It could be used by anybody instead of being specific to AMD hardware.  I'll s

[2019-11-04 16:43] #314 closed

[2019-11-07 21:23] #203 closed

[2019-11-11 21:55] paulthomson commented on #217
Appears to be fixed!

[2019-11-11 21:55] #217 closed

[2019-11-11 21:55] paulthomson commented on #216
Appears to be fixed!

[2019-11-11 21:55] #216 closed

[2019-11-11 21:55] paulthomson commented on #215
Appears to be fixed!

[2019-11-11 21:55] #215 closed

[2019-11-11 21:56] paulthomson commented on #214
This still seems to fail.

[2019-11-11 21:56] paulthomson commented on #213
Appears to be fixed!

[2019-11-11 21:56] #213 closed

[2019-11-11 21:56] paulthomson commented on #212
Appears to be fixed!

[2019-11-11 21:56] #212 closed

[2019-11-11 21:56] paulthomson commented on #211
This still seems to fail.

[2019-11-11 21:57] paulthomson commented on #210
Appears to be fixed!

[2019-11-11 21:57] #210 closed

[2019-11-11 21:57] paulthomson commented on #209
Appears to be fixed!

[2019-11-11 21:57] #209 closed

[2019-11-11 21:57] paulthomson commented on #208
Appears to be fixed!

[2019-11-11 21:57] #208 closed

[2019-11-11 21:57] paulthomson commented on #207
Appears to be fixed!

[2019-11-11 21:57] #207 closed

[2019-11-11 21:58] paulthomson commented on #206
This still seems to fail.

[2019-11-11 21:58] paulthomson commented on #205
Appears to be fixed!

[2019-11-11 21:58] #205 closed

[2019-11-11 21:59] paulthomson commented on #204
This still seems to fail.

[2019-11-11 22:03] paulthomson opened #330 "dEQP-VK.graphicsfuzz.discard-in-loop-in-function"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[discard-in-loop-in-function.zip](https://github.com/GPUOpen-Drivers/llpc/files/3833400/discard-in-loop-in-function.zip)

[2019-11-11 22:04] paulthomson opened #331 "dEQP-VK.graphicsfuzz.discard-in-loop"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[discard-in-loop.zip](https://github.com/GPUOpen-Drivers/llpc/files/3833403/discard-in-loop.zip)

[2019-11-11 22:05] paulthomson opened #332 "dEQP-VK.graphicsfuzz.return-float-from-while-loop"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[return-float-from-while-loop.zip](https://github.com/GPUOpen-Drivers/llpc/files/3833406/return-float-from-while-loop.zip)

[2019-11-11 22:06] paulthomson opened #333 "dEQP-VK.graphicsfuzz.two-nested-do-whiles"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[two-nested-do-whiles.zip](https://github.com/GPUOpen-Drivers/llpc/files/3833408/two-nested-do-whiles.zip)

[2019-11-11 22:07] paulthomson opened #334 "dEQP-VK.graphicsfuzz.unreachable-continue-statement"
This test fails. To reproduce: `amdllpc -gfxip=9.0.0 -verify-ir -o temp.out *.spv`

[unreachable-continue-statement.zip](https://github.com/GPUOpen-Drivers/llpc/files/3833409/unreachable-continue-statement.zip)

[2019-11-12 18:26] kuhar commented on #334
This works for me on the current dev branch with assertions enabled. @paulthomson

[2019-11-12 18:27] kuhar commented on #333
This works for me on on the dev branch with assertions enabled. @paulthomson

[2019-11-12 18:28] kuhar commented on #333
All the new issues (#330-#334) compile fine for me. Not sure if the issues are still reproducible.

[2019-11-12 19:13] paulthomson commented on #204
This appears to be fixed.

[2019-11-12 19:13] #204 closed

[2019-11-12 19:30] paulthomson commented on #333
Ah apologies for the noise. The issues fail for me using the latest build of the dev branch of https://github.com/GPUOpen-Drivers/AMDVLK

However, that repo may not be pulling in the latest dev branch of this repo. The actual build comes from here (in case I am doing something wrong): https://github.com/google/gfbuild-llpc/releases/tag/github%2Fgoogle%2Fgfbuild-llpc%2F06e4d24336a16ed10d305931804d7

[2019-11-12 19:43] nhaehnle commented on #332
Hi Paul, aside from the fact that this is probably not a bug on the latest dev branch based on discussions on other bugs, I'd also ask you in the future to take a step back and produce higher quality bug reports.

For instance, **how** does the test fail? Does it hit an assertion or other error in the compiler? Does it generate incorrect code? Since when do these failures occur? (CTS tests are usu

[2019-11-12 21:10] paulthomson commented on #332
Apologies for the poor quality bug reports; I was indeed being slightly lazy here, as the process is not automated. Apart from not providing the log, I also forgot to add that I was using a debug build of amdllpc when running these tests.

We are occasionally fuzzing amdllpc and creating dEQP test cases that expose the issues. The tests will always start with `dEQP-VK.graphicsfuzz.`. But we fuzz a

[2019-11-13 09:13] nhaehnle commented on #332
I think bug reports in general are fine, as things do slip through cracks... for example, I believe our internal automatic testing currently doesn't have LLPC/LLVM assertions enabled (let alone runnign with anything like address sanitizer...). And thank you for the fuzzing!

Assertion failures in the compiler should absolutely be treated as bugs. Otherwise we'll just go mad over time ;)

I'll have

[2019-11-13 09:24] amdrexu commented on #332
I think building latest AMDVLK dev plus latest LLPC dev is enough. LLPC has versioning mechanism. Latest LLPC can work with not-latest AMDVLK.

[2019-11-14 14:38] Zakhrov opened #347 "Cannot build against upstream LLVM"
I tried to build LLPC against upstream LLVM by pointing the XGL_LLVM_SRC_PATH to point to my System-installed LLVM. Howerver LLPC fails to build by saying ``` Intrinsic::amdgcn_waterfall_begin ```
is not a valid intrinsic. Is there any way to work around this?

[2019-11-14 15:46] dstutt commented on #347
No, you need to use the LLVM fork here: https://github.com/GPUOpen-Drivers/llvm-project to be able to build LLPC. It contains a few extra intrinsics that support explicit waterfall loops required by LLPC.

https://github.com/GPUOpen-Drivers/AMDVLK has a top-level README.md that takes you through the steps for building LLPC.

[2019-11-14 18:11] nhaehnle commented on #347
We should say that we generally strive to be able to build against upstream LLVM and to reduce any such deltas, but unfortunately there have been cases like this one where we couldn't avoid the problem. The LLVM branch that David pointed out is very close to upstream though.

[2019-11-15 00:59] paulthomson commented on #330
Closing as this apparently does not reproduce.

[2019-11-15 00:59] #330 closed

[2019-11-15 00:59] paulthomson commented on #331
Closing as this apparently does not reproduce.

[2019-11-15 00:59] #331 closed

[2019-11-15 00:59] paulthomson commented on #332
Thanks!

[2019-11-15 00:59] paulthomson commented on #332
Closing as this apparently does not reproduce.

[2019-11-15 00:59] #332 closed

[2019-11-15 00:59] paulthomson commented on #333
Closing as this apparently does not reproduce.

[2019-11-15 00:59] #333 closed

[2019-11-15 01:00] paulthomson commented on #334
Closing as this apparently does not reproduce.

[2019-11-15 01:00] #334 closed

[2019-11-15 05:14] Zakhrov commented on #347
Ok thanks for letting me know.
Any idea when the waterfall intrinsics will be upstreamed? LLPC and XGL take a couple of hours to build on my Kabini APU laptop

[2019-11-15 10:02] dstutt commented on #347
It's on my list of things to do - but I can't give you an estimate of when it'll happen at the moment. It won't be in the next couple of weeks.

[2019-11-15 13:28] jayfoad commented on #211
This is a bug in the LLVM floating point emulation code. I've raised it upstream: https://bugs.llvm.org/show_bug.cgi?id=44010

[2019-11-15 15:46] jayfoad commented on #214
I can reproduce this with upstream LLVM. Here's a test case:
[code]

[2019-11-16 21:47] kuhar commented on #331
Sidenote: this does not validate:
[code]

[2019-11-16 21:49] kuhar commented on #332
Sidenote: this does not validate:
[code]

[2019-11-16 21:52] kuhar commented on #333
Sidenote: this does not validate:
[code]

[2019-11-16 21:54] kuhar commented on #334
Sidenote: this does not validate:
[code]

[2019-11-17 13:24] paulthomson commented on #332
Ah this now makes sense. The failures were all validation "errors" from the old, internal version of spirv-val. The shaders validate with a newer version of spirv-val.

I could disable validation when I run amdllpc, but I chose to leave the validation on so that we would still see these "failures" and to give an incentive to update the validator version in AMDVLK. I guess the shaders won't actuall

[2019-11-18 15:57] kuhar commented on #332
IMO it would make sense to report inputs that pass spirv-val but crash llpc with assertions/sanitizers enabled. I suppose that in real-life scenarios all shaders are known ahead of time and can be validated offline.

[2019-11-18 16:23] paulthomson commented on #332
Yeah, makes sense.

E.g.

[code]

vs.

[code]

The old, buggy version of spirv-val is always run for me unless I pass `-val=false`. I will add `-val=false` from now on.

[2019-11-19 02:39] amdrexu commented on #332
I think you can use latest codes of SPIRV-tools and build a spirv-val. Try it and if the error still exists we might report an issue ticket on SPIRV-tools repo. If the issue is gone, we will update imported SPIRV-tools source codes in spvgen.

[2019-11-19 21:33] jayfoad commented on #211
There's a fix in upstream review: https://reviews.llvm.org/D69772

[2019-11-29 15:52] s-perron commented on #214
@jayfoad Were you working in a fix for this?

[2019-11-29 16:28] s-perron commented on #214
The SIFoldOperands pass will propagate the constants into the Add instruction.  This add of two immediates will not be folded.  When trying to encode this instruction, it fails because there is no way to represent this instruction.

I do not know how this is suppose to be handled in LLVM or the amdgpu backend.  Is there a pass that is suppose to fix this up by pulling out one of the immediates int

[2019-11-30 15:45] jayfoad commented on #214
As far as I know no-one is working on it yet. I'm not familiar with SIFoldOperands but I would assume it should not create the unencodable instruction in the first place.

[2019-12-02 12:57] nhaehnle commented on #214
I'd argue that the best short-term fix is to avoid forming the un-encodable instruction and leaving a TODO, because -verify-instructions should flag the intermediate MIR as incorrect anyway.

Long run, we should have a proper MachineInstCombine infrastructure for MIR. My hope would be that we can grow this in connection to GlobalISel.

[2019-12-03 10:17] dstutt commented on #214
I've got a fix in review for this - see https://reviews.llvm.org/D70896

[2019-12-04 10:41] dstutt commented on #214
It's been submitted upstream.

[2019-12-05 12:28] jayfoad commented on #211
Fixed in GPUOpen-Drivers/llvm-project@e62555c129d535d524354351791c5474c9929582.

[2019-12-05 12:29] #211 closed

[2019-12-20 19:09] jaebaek opened #406 "Build failure with GPUOpen-Drivers/llvm"
When I build ICD with amd-vulkan-dev branch of GPUOpen-Drivers/llvm, it shows me compiler errors:
[code]

This is mainly because amd-vulkan-dev branch of GPUOpen-Drivers/llvm is behind the master branch of GPUOpen-Drivers/llvm-project.
dev branch of GPUOpen-Drivers/llpc uses APIs assuming that we use GPUOpen-Drivers/llvm-project.
See the difference of llvm/lib/IR/IRBuilder.cpp between amd-vulkan-d

[2019-12-23 14:34] jinjianrong commented on #406
@jaebaek we have switch to use GPUOpen-Drivers/llvm-project

[2019-12-23 14:34] #406 closed

[2019-12-23 14:37] jinjianrong commented on #406
@jaebaek we have switch to use GPUOpen-Drivers/llvm-project

[2019-12-30 16:40] jaebaek commented on #406
Thank you for letting me know it.

[2020-01-15 20:13] s-perron opened #431 "Cache creator tool"
# Problem description

Compiling shaders when a game is running can be time consuming, and lowers the quality of the game.  This can be because of long wait times when a level starts or, much worse, hitching during game play.  One of the solutions to this is to create a cache of precompiled pipelines or shaders.  Then much less work needs to be done while the game is running.

This leads to a seco

[2020-01-16 09:28] linqun commented on #431
1. I think we can reuse some code for partial pipeline compile. @amingriyue (David Zhou) is working on it.
2. for partial pipeline compile, we only consider the fragment shader and compute shader. for vertex shader, many graphic states and vertex buffer state will affect the compile result. so I am afraid it is not very easy or friendly to do it in offline time.
3.  in partial pipeline compile, we

[2020-01-16 16:19] kuhar commented on #431
Hi @linqun and @amingriyue,

I found a description of `partial pipeline compile` in `docs/LlpcOverview.md`:

[code]

Could you point me to the main files / classes / functions related to partial pipeline compiling/caching? Which part of it is David currently working on? I think it would be useful for a future reference.

Thanks,
Jakub

[2020-01-17 02:29] linqun commented on #431
We will prepare a MD file for partial pipeline caching in following couple days.
Following is the working flow and status of partial pipeline compile:
- collect resource usage in ICompiler::BuildShaderModule (done)
- build pipeline layout according to resource usage + some special rules (partial done)
- build pipeline state according to inout  type + some special rules (partial done)
- call  IComp

[2020-01-21 12:41] nhaehnle commented on #431
The overall plan sounds good to me. A couple of notes:

1. Ideally, this would integrate well not just with amdllpc for ahead-of-time use, but also with runtime use, i.e. on vkCreateShaderModule. Relocations should allow us to avoid a lot of what's currently done in the partial pipeline compile for building the pipeline layout.

2. For data that is classified "Determinable", even the regular pipel

[2020-01-21 15:20] amdrexu commented on #431
disableVertexReuse is something special from one of my changes: https://github.com/GPUOpen-Drivers/llpc/pull/421. The GS instancing requires larger ES-GS ring size (because ES emits more vertices) for pre-GFX10 GPUs when vertex reuse has to be turned off. So this field has impacts on both register settings and shader compilation. But this caching plan is aimed at VS-FS pipeline currently, so it is

[2020-02-04 13:59] jayfoad commented on #57
Is this still a problem now that the emulib has been removed (f21077a9ba554bbf1bccd008e626ca6ec47ed332)?

[2020-02-04 14:04] jayfoad commented on #214
Fixed by GPUOpen-Drivers/llvm-project@46db60683422180688bff0737142c343ba28e7cb

[2020-02-04 14:19] #57 closed

[2020-02-04 15:03] kuhar commented on #214
We should add it to shaderdb; alongside the other fixed fuzzing issues.

[2020-02-04 15:16] kuhar commented on #214
I created a PR adding this to shaderdb: #449.

[2020-02-10 19:32] s-perron opened #456 "Relocatable elf vertex input handling"
Part of https://github.com/GPUOpen-Drivers/llpc/issues/431.

# Fields in the pipeline info

The data for the vertex input state comes in two arrays. The order of the elements of the arrays does not matter, so we will show a template for a single entry.

[code]

This code only makes a difference when there is a load in a vertex shader from a variable that is decorated with location `l`.  The bindin

[2020-02-11 02:03] linqun commented on #456
1. It seems default value isn't mentioned in the document.
for example:
input format is rgb8, and the type of shader input variable is vec4. we need assign default value 1.0 for w channel.
2. vertex_attribute_divisor isn't mentioned in this document, do you plan to support this feature in relocatable ELF?
3. I have a little concern  if we always force per channel loading. is it possible to always

[2020-02-11 11:21] trenouf commented on #456
How do you cope with not knowing the rate (per vertex or per instance, plus the complication of the instance divisor that Qun mentioned) at compile time?

I think the "traditional" way of handling this, before the advent of pipeline compilation, was that any vertex inputs are just inputs to the shader, and the pipeline link stage generates the vertex buffer loads (a "fetch shader") and sticks it o

[2020-02-11 12:25] nhaehnle commented on #456
I had a bunch of detail comments here, like how you really shouldn't worry too much about the offset vs. stride thing since that's arguably an accident of the Vulkan API and should be fixed there.

However, I'm sorry to say that I think that from a high-level point of view, you're going down entirely the wrong path for this. The proposal is incredibly complex and doesn't have a lot of advantages (

[2020-02-11 13:01] #214 closed

[2020-02-11 18:33] s-perron commented on #456
Thanks for the feedback and your patience.  After thinking about it, I agree the prologue route would be better.  The main concern I have is the amount of time to generate do the linking.

Here is how is see things going.  Let me know if there are any details that I may have missed.

1. LLPC will be change so that when generating a relocatable shader all of the vertex inputs will be treated as a i

[2020-02-12 13:27] nhaehnle commented on #456
Agreed.

I'm not so sure about that. I think it makes sense to explore how long this actually takes through LLVM, because as you write, going through LLVM gives you the benefit that the same code can be used to generate vertex input fetches in all compilation modes. Given the occasional "weird" workaround that we need to implement (e.g. A2 component handling), it seems desirable to do all of that

[2020-02-13 01:00] linqun commented on #456
FYI:
1. DXX and OGL driver generate machine instruction directly for fetch shader, and PAL also plan to support this style.
2. the prologue style may conflict with NGG, especial when culling is enabled. @amdrexu do you have any comment about it?

[2020-02-13 05:50] amdrexu commented on #456
For NGG, the fetch shader might have performance impacts. Because we just want to fetch those vertex inputs that contribute to position calculation. Other irrelevant inputs are delayed to load until the primitive passes culling tests. If we loaded all vertex inputs at the beginning of fetch shader execution, the impacts could be noticeable if the amount of vertex inputs are not small and high cull

[2020-02-15 22:33] nhaehnle commented on #456
This is a bit of tangent, but:

With the LLPC design, it fits better for LLPC to generate the fetch shader. That way, the ABI between fetch shader and main shader part is controlled entirely by one software component (LLPC), rather than having it spread between different software components.

This is independent of the question of whether the fetch shader is generated via LLVM or not. I still main

[2020-02-19 16:55] s-perron opened #474 "Handling descriptor offsets as relocations"
When constructing relocatable shader elf, there is some data that cannot be known at compile time.  One example is the offset needed to do a descriptor load.  We want to be able to use a relocation to represent this offset, which can then be filled in during the linking phase that will create the pipeline elf.

If we want to replace the constant offset with a relocation, we need to figure out 3 di

[2020-02-19 20:23] nhaehnle commented on #474
I still maintain that in the long run, it probably makes more sense to do this in PAL. At a high level, it would work by passing to PAL:

* the VS ELF
* the PS ELF
* some sideband data for the missing metadata as well as symbol definitions for the relocations required by the other ELFs -- could be a third ELF, could be something different (something different could be convenient for the goal of av

[2020-02-20 15:34] s-perron commented on #474
I do not have a problem with that, we will try to code the application of the relocation in a way that can be easily factored out, and moved to PAL when needed.

If the reviewer are okay with reusing the same relocation type, I am very happy to do so.  My gut feeling is that it would not have been acceptable.

That is a great idea.  We will try to implement it that way.

The rest of what you says

[2020-02-20 15:41] s-perron commented on #456
I will start implementing this.  I will generate the fetch shader using LLVM, and see what kind of impact it has.

For the concerns about NGG, there are a lot of conditions on when it will make a noticeable difference.  I will implement as is, and measure.  I will keep this in mind when looking at the performance impact of relocatable shaders.

[2020-02-21 18:56] csyonghe commented on #474
@nhaehnle What do you think is the right representation for this `metadata`? Do you refer to an llvm::MDNode attached to the `amdgcn.reloc.constant` instruction? Or do you mean a new type of operand? If it is an llvm metadata node, I am not sure how to plumb that info down to an MCInst since that happens inside ISel. If we represent it as a normal operand, I am not quite sure how to represent a st

[2020-02-21 20:46] csyonghe commented on #474
I figured that I can use define the instrinsic as
[code]

Then in llpc, create a `MetadataAsValue` operand, which wraps a `MDNode`.

Next, in `SOPInstructions.td`, use the following code to select the intrinsic into `S_RELOC_CONSTANT` machine instruction:
[code]

Then in `AMDGPUMCInstLower.cpp`, `AMDGPUMCInstLower::lower` function, we can extract the metadata from the operand, and lower this `S_RE

[2020-02-22 21:27] nhaehnle commented on #474
Maybe a custom lowering for the intrinsic would help? Ideally, the custom lowering could generate the new GlobalVariable at the time of lowering (if it does not already exist) or in some other way ensure the symbol will exist, and then generate an S_MOV_B32 with a TargetGlobalAddress operand directly. This is mostly a gut feeling, admittedly.

[2020-02-24 15:17] s-perron commented on #474
The builtin definition and generation look right.

I agree with Nicolai, that we should try to avoid defining a new MIR instruction.  So code related to S_RELOC_CONSTANT should be removed.  The custom lower would not be done in the `*.td` files.  I think the right place to do this is in AMDGPUISelLowering.cpp or SIISelLowering.cpp.  I don't know how they relate to each other.  See the `AMDGPUTarge

[2020-02-25 00:25] csyonghe commented on #474
I find that I can do the custom lowering in `SITargetLowering::LowerINTRINSIC_WO_CHAIN`.
Here's the code:
[code]
Here I create a new global variable and generate a `S_MOV_B32` from the global address of that variable. However, I am not sure how this global variable will be handled by downstream logic. I tried to run amdllpc with a simple vertex-fragment shader. In the resulting elf, I can see the

[2020-02-25 15:05] s-perron commented on #474
I don't think you want internal linkage.  We are pretending like this symbol is defined in another module (or in the pipeline create info).  Internal means it is suppose to be defined in the current module.

Something sound odd about that.  We should look at that together to see if we can make sense of it.

That is not correct.  The plan is to modify the S_MOV_B32 operands to contain the offset it

[2020-02-25 17:47] csyonghe commented on #474
Here's the pre-link elf:
[code]

[2020-02-25 18:22] csyonghe commented on #474
Here's the prelink elf:
[code]

[2020-02-25 22:47] csyonghe commented on #474
@s-perron Noticed that the compiler did not correctly select the variant of `s_load_dwordx4` instruction which directly uses an offset register.

After digging into the pattern matching code in `AMDGPUISelDAGToDAG`, I find out that reason is `AMDGPUDAGToDAGISel::SelectSMRDOffset` does not properly implement the case that Offset is not a constant. My fix is to check if the offset DAG is a scalar 32

[2020-02-25 22:49] csyonghe commented on #474
@s-perron I have updated the two PRs in amdgpu and llpc. Could you take a look?

[2020-02-25 22:56] csyonghe commented on #474
Pre-link elf:
[code]

Post-link elf:
[code]

[2020-02-28 21:15] trenouf commented on #474
Widening out to more of the problem space:

How does the pre-link code know what sgpr the set's descriptor table pointer is in?

In the current pipeline compilation model, the lookup of the descriptor in PatchDescriptorLoad that gives the offset in the descriptor table (the thing you're turning into a reloc above) also returns the offset of the descriptor table pointer in the overall top-level res

[2020-03-01 21:17] trenouf commented on #474
I withdraw that comment. :-) I think there is a small limit on descriptor set number.

[2020-03-02 15:29] s-perron commented on #474
@trenouf I only have a vague understand of what you are referring to.  We are not overly familiar with PAL and LLPC, so I can understand that there could be a problem.  However, I don't know how to create a test case out of what you said.

Can you provide an example shader or pipeline that would show the problem?  That way we could run it through our code, figure out how to handle it, and turn it

[2020-03-02 17:00] s-perron commented on #456
# Generating the fetch shader

The fetch shader will be code that is to be prepended to the start of a vertex shader.  It will load all of the vertex inputs into registers, and those registers will be used by the vertex shader.  We will go through the the different phases of the llpc compilation and explain how the compilation will work.

## Invoking an LLVM compile

The parameters that are passed

[2020-03-02 17:29] trenouf commented on #456
Hi Steven

I don't think we want to be doing a whole compilation process starting with the spir-v to generate a fetch shader, and trying to common up much of the flow with a vertex shader compile.

The way I see it working is:
* Compiling the vertex shader without the vertex state causes vertex inputs to be passed as vgprs, like you said.
* Doing that gives you an unlinked elf containing some stat

[2020-03-02 17:45] csyonghe commented on #474
I wonder if @trenouf refers to a shader that uses different descriptor sets, something like this:
[code]

[2020-03-02 18:01] s-perron commented on #456
Thanks.  I have no problem implementing the path that places entry point information in the elf.  The reason I feel this will be a more complicated solution to implement is that this means I have to add this extra information to the pipeline state.  After this I do not know the division on which data structures are used when, and how the state should be updated.  That seemed like something that wo

[2020-03-02 19:19] trenouf commented on #456
I think the ideal would be for the extra state to be passed in the elf is an extra llpc-internally-defined part of the msgpack pal metadata in the .note record. The problem is, whenever I think of a way of doing something, it needs something else doing first. :-) In this case, we should really have a way of carrying the in-progress pal metadata msgpack through patch passes, instead of constructing

[2020-03-03 02:06] csyonghe commented on #474
After testing PR #457 with our internal renderdoc traces, I captured a bunch of failure cases. These failed cases share a common problem: the symbol table dumped by llvm-objdump is not showing an entry for the vertex shader, even though such an entry is there in the elf file.

It seems that the first entry in the symtab section must be a symbol defined in a valid section, and that first symbol is

[2020-03-03 06:37] linqun commented on #456
It seems NGG isn't mentioned in this proposal. Could you help to add it? please include both passthrough mode and non-passthrough mode. and It is better if you can provide an manual written LLVM IR example. thanks!
I suppose passthrough mode is compatible with traditional pipeline, if you plan to support NGG non-passthrough mode, I think you need do some change in your proposal.

[2020-03-03 08:15] trenouf commented on #474
You mean symbol with index 0? Yes, I think that is a dummy one, because symbol index 0 is used in several places to mean "no symbol". I could be wrong though.

[2020-03-03 15:16] s-perron commented on #456
@trenouf Okay, I'll try to get back to you on how we can store the interface.  I need to look into what information is needed.

[2020-03-03 15:30] s-perron commented on #456
@linqun Can you be more specific on why NGG may cause a problem?  As I mentioned on another issue, Yong and I are still learning the AMD arch and the details of LLPC.  I thought that this design would reuse enough existing code that it would already handle all of the cases.

For example, the only references to NGG in the entry point mutation code is to add a dummy "inreg" to match what PAL expects

[2020-03-03 15:49] s-perron commented on #456
@linqun It is hard to say exactly what the code will look like.  The initial version of the fetch shader will look something like:

[code]

Is this what you are looking for.

[2020-03-03 16:19] s-perron commented on #456
I will also put this out as a reminder.  The relocatable shader elf currently works on VS-FS and CS pipelines only.  I plan on getting this working for those cases first just to show that we can do it.  This also handles the majority of the cases.  I don't want the design to exclude handling more cases in the future, but I will not be implementing or testing for other pipelines for now.

[2020-03-03 16:52] Flakebi commented on #474
@trenouf is right, according to the elf64 spec: https://uclibc.org/docs/elf-64-gen.pdf

constant STN_UNDEF is used to refer to this entry.

[2020-03-04 03:29] linqun commented on #456
If NGG + culling is enabled. NGG framework will call VS twice,
- first call is to calculate position
- after that we do culling
- then call VS again to calculate other output attributes  for remain vertices.

You can try it with following simple shader:
#version 450
layout(location = 0) in vec4 v0;
layout(location = 1) in vec4 v1;
layout(location = 0) out vec4 color;
void main() {
    gl_Position

[2020-03-04 08:50] amdrexu commented on #456
For NGG culling, VS is run twice: (1) a partial run by removing irrelevant instructions, just fetch vertex values (only those contributes to position calculation) and do gl_Position calculation, write the position values to LDS and prepare culling (2) a real run of VS for all vertices that pass culling.

[2020-03-04 15:24] s-perron commented on #456
@linqun Sorry, but I still do not see what the real problem is.

When you say "NGG framework will call VS twice", that sound like an high level informal description.  What does that mean in real terms?  Do we generate code for the vertex shader, and the driver will execute that code twice?  I also noticed that LLPC splices the vertex shader when NGG is enabled.  Then the different parts of the sha

[2020-03-04 17:31] trenouf commented on #456
Hi @s-perron

I'm not a great expert on the NGG part here, but (to expand on what Rex said) I believe that a VS in NGG-with-culling mode works like this:

* First copy of original VS, including code that loads from the vertex buffer, but only the position result is used, so half of the shader gets removed by DCE, and only vertex buffer loads that affect the position result remain.
* Internal stuff

[2020-03-04 18:34] csyonghe commented on #456
If there are two versions of the vertex shader, it should be trivial to run the same fetch shader generation process twice, one for each version, and append that to the front of each vertex shader variant. I guess what's proposed here will largely remain the same if we want to support NGG culling?

[2020-03-04 18:59] csyonghe commented on #474
Regarding the top level descriptor table address issue, I think a reasonable plan is to just spill everything, and passing only a top-level pointer to the spill table in a sgpr. This will greatly simply compiler and PAL implementation, and this has worked well for PS4. I think it is worthwhile to give it a try since it is easy to implement, and see how this affects performance. @trenouf What's you

[2020-03-04 19:22] csyonghe commented on #474
If we go with the path that all descriptors are stored in memory, we can even further simply this by deriving the offset of top level descriptor tables directly from the "binding" number provided in the spirv. This would allow us to eliminate the relocation step altogether.

[2020-03-04 21:26] trenouf commented on #474
You mean directly from the "descriptor set" number?

That scheme of leaving the top-level table in memory would work, but I think it is not too difficult to take the next step of allowing some entries to be in sgprs as now.

[2020-03-04 22:07] csyonghe commented on #474
Yeah, directly from the "descriptor set" number, as this will eliminate the relocation step to obtain the descriptor table pointer.

Apart from this, I am still trying to understand the concepts that appear in PatchDescriptorLoad:
1. What is a BufferCompactDesc and when are they used?
2. What is a dynamic descriptor?
3. When is DescriptorLoadAddress used?

[2020-03-05 03:26] linqun commented on #456
in original NGG culling mode, we only execute second fetch shader only for vertices which are not clip/culled. so if we always fetch all attribute for all vertices at the begging of vertex shader, it should work, but it may hurt performance a little. I suppose it is OK for you.

[2020-03-05 06:11] amdrexu commented on #456
Tim's explanation is correct. There are performance impacts but no quality issues with this fetch shader proposal. We can state this in the design doc as a to-be-done item. The performance impacts are two: (1) you loaded unnecessary vertices value from vertex buffer in the first run of VS (2) you loaded cullled vertices value from vertex buffer in the second run of VS.

[2020-03-05 10:34] trenouf commented on #474
1. It's a 64-bit descriptor that gets expanded to 128-bit before use. But I'm not sure what circumstance they're used in. Maybe Qun and Rex know. Let's hope they are unusual, because the presence of one breaks this whole idea and we'll have to fall back to pipeline compilation.
2. A dynamic descriptor is an array of descriptors that typically have a dynamic (variable) index.
3. Looks like Descript

[2020-03-05 18:34] s-perron commented on #456
Okay thanks.  I'll leave a comment in the code and we can create a follow up issue.  Since it is not a correctness issue, I will not fall back to the full pipeline compilation if culling is enabled.  However, we can revisit that decision once we have something working, and users are able to give us feedback.

[2020-03-06 05:42] linqun commented on #474
- BufferCompactDesc  is used for dynamic descriptor, include both ubo and ssbo. the major purpose is to reduce the number of user data. since we only have 16/32 physical user data. it is enabled only if robust access isn't enabled.
- In vulkan, dynamic descriptor means the descriptor can be modified dynamically. in driver, we allocate dynamic descriptor in root level, i.e. it is in user data regis

[2020-03-09 11:03] nhaehnle commented on #456
FWIW, when I wrote about computing an array that matches VGPRs to vertex input components during llpcPatchEntryPointMutate, I was thinking of this happening during the initial compile of the vertex shader. The computed information would then be used later when determining the required fetch shader, and preserving that information in the ELF makes sense to me.

[2020-03-09 11:08] nhaehnle commented on #474
One other thing to watch out for is how descriptor sets interact with push constants. I don't know the details of how (whether) they're interleaved.

Still, in graphics shaders I was under the impression that userdata SGPRs are always "compacted", so most or even all cases should be okay?

[2020-03-10 08:51] nhaehnle commented on #474
One more related thing to watch out for is the issue that is starting to be addressed by https://github.com/GPUOpen-Drivers/llpc/pull/488 (and see https://github.com/GPUOpen-Drivers/llpc/pull/497). No ISA changes required for this, it's all about the metadata; specifically, what the offset of each descriptor set pointer is in the userdata table that xgl maintains via ICmdBuffer::CmdSetUserData.

[2020-03-12 21:49] trenouf commented on #431
Hi Steven

How are you intending to handle specialization constants?

There might be some cases where you could use a reloc, if the constant is used as a value in a calculation or something. But the general case is that a specialization can be used anywhere a constant can be, right? Which includes things like the size of an array type, which can't be handled by a reloc.

I think there is a mechani

[2020-03-13 08:57] trenouf commented on #474
Hi @linqun

This kind of opens another can of worms...

It looks like one descriptor set can contain a mix of "dynamic" descriptors (VK_DESCRIPTOR_TYPE_{UNIFORM|STORAGE}_BUFFER_DYNAMIC) and normal descriptors, and the driver puts the dynamic ones in the root level and the other ones in a descriptor table for that set (where the root level contains a pointer to the descriptor table for the set).

H

[2020-03-13 10:14] trenouf commented on #431
Or: When the spir-v reader sees a use of a specialization constant that cannot be expressed as a reloc (e.g. the size of an array type), then it uses the default value in the spir-v, and somehow records that it used that default value. Then, the linker needs to ensure that matches up with the corresponding specialization constant if specified.

[2020-03-13 13:25] s-perron commented on #431
In general, spec constants are rarely used.  My plan was to initially just punt.  The idea would be that the spec constants are part of the hash, so if someone provides values for the spec constants that have not been seen before then we have to recompile.

If needed, we could look into relocations or allowing them as inputs to the cache creator tool.  Figuring out that part is low priority for no

[2020-03-15 15:33] amdrexu opened #506 "NGG GS culling framework"
I’m going to add NGG GS culling. The algebraic algorithms are the same as non-GS (see the function `NggPrimShader::DoCulling`). No change for this. The particular part for GS (compared to non-GS) is how to run the culling algorithms for each output primitives (triangle strip). The steps are:

1.	Run GS and generate output primitives.
2.	Revisit those output primitives’ connectivity data, fetch pos

[2020-03-15 15:35] amdrexu commented on #506
[gs.zip](https://github.com/GPUOpen-Drivers/llpc/files/4334413/gs.zip)

[2020-03-16 10:57] nhaehnle commented on #431
I think for the general desktop use case we want to encourage use of specialization constants, so it is something we ought to think about. My understanding is that some engines with fancy shader authoring tools have an explosion of shaders causing the occasional stutter that would be much more manageable with them.

Apparently we don't even do the initial shader module compilation today when speci

[2020-03-16 11:19] nhaehnle commented on #506
We have enough shader waves to have one thread per output primitive. So the loop should not be necessary.

So I guess this can work like:
[code]

[2020-03-16 20:09] trenouf commented on #474
Just realized that, if we have an array of image or sampler descriptors, the array stride needs to be a reloc. We don't know at shader compile time whether it is an array of separate image/sampler descriptors (stride 32 or 16 bytes), or an array of combined image+sampler descriptors (stride 48 bytes).

[2020-03-17 06:47] amdrexu commented on #506
@nhaehnle I think your framework is very similar to what we have done for non-GS culling. And I also believe this framework is more efficient for NGG GS non-culling shader compared to our existing design. It could avoid loop iteration, especially for such extreme case: just one input GS thread, emitting 256 output vertices.

Besides, we currently do vertex compaction in the end of original GS exec

[2020-03-17 14:14] trenouf opened #507 "LGC: shader compilation proposal"
LGC: shader compilation proposal
======================

There are several different efforts to move away from whole-pipeline
compilation in LLPC, or that will affect LLPC in the future. This proposal is
to unify them in new LGC (LLPC middle-end) functionality.

* There is a "partial pipeline compilation" scheme in LLPC that kind of hacks
  into LGC's otherwise whole-pipeline compilation, and does

[2020-03-17 19:36] s-perron commented on #507
This looks good.  Thanks.

[2020-03-18 02:21] kuhar commented on #507
As bystander, I really appreciate your summary, Tim.
It's great you gave this are more structure and provided a high level overview of the design space -- usually a few folks would just come in with some corner-case in the design that they are aware of and it was very difficult for me connect the dots when that happened.
Many things are much more clear to me now, although I still don't understand

[2020-03-18 18:56] inequation opened #513 "amdllpc does not preserve debug information"
Hello there,

I'm not even sure if I'm posting this issue on the correct project in the suite, so apologies if that isn't the case.

I'm trying to compile a simple Vulkan fragment shader with amdllpc. According to the [AMDGPU target user guide](https://llvm.org/docs/AMDGPUUsage.html), the ELFs produced by it can contain a `.debug` section with DWARF data. However, I can't seem to be able to get it

[2020-03-18 23:56] kuhar commented on #513
Hi @inequation,
From what I know, shader debugging is an area under active development across all fronts (SPIRV-Tools, llpc, driver), but is not there yet. @jaebaek is an expert on the SPIRV-Tools side of things.

What do you want to do with the debug info?

Although this is not directly related to your question, note that llvm-objdump doesn't currently produce complete disassemby that would allow

[2020-03-19 07:52] inequation commented on #513
Hi @kuhar,

I'm working on a shader programming educational tool. GCN/RDNA ISA can be intimidating initially for inexperienced programmers, especially long, unrolled loops, and I'm in need of a way to provide some context for the generated disassembly ("where does this massive blob of instructions come from?"). I would have linked a publication about the software I'm writing, but it's a team effor

[2020-03-24 13:51] nhaehnle commented on #513
I agree with @kuhar: it's a known limitation because so far, nobody has done the work of just tracking the debug info through the compile pipeline to make sure it doesn't disappear. Work on this would of course be welcome, otherwise we'll surely get to it eventually, but with no date attached ;)

[2020-03-25 08:27] inequation commented on #513
I'm fine with working on this myself, but some guidance would be necessary. For instance, I wasn't able to find my way through all the abstraction layers of LLVM to where bitcode gets lowered to GCN ISA, or where the `.debug` ELF section gets populated. All I need is a shortcut to these places, and I can begin further investigation on my own. Can you guys help with that?

[2020-03-25 10:01] Flakebi commented on #513
The part in LLPC which adds the necessary LLVM passes to convert IR to an ELF should be this line: https://github.com/GPUOpen-Drivers/llpc/blob/d58bd5fdcb240c61ee2c2aae62a0fc08e3c25844/llpc/builder/llpcBuilderContext.cpp#L264
The ELF writing code in LLVM that is specific to the AMDGPU backend should be in the `llvm/lib/Target/AMDGPU/MCTargetDesc` directory of LLVM: https://github.com/llvm/llvm-pro

[2020-03-25 10:53] nhaehnle commented on #513
`-print-before-all` / `-print-after-all` also applies to amdllpc and is extremely helpful for understanding the flow of compilation.

[2020-03-26 05:56] xuechen417 opened #523 "Pack shader input/output framework"
The overview of shader input/output packing is described in DdnPackShaderInputOutput.md. There are three phases.
- Phase 1 [Done] Support packing input/output on XX-FS.
Commit Id [40b2a6b, 9b88f2e]: basic framework
Commit Id [f1cebc3]: extend to handle 16-bit variables
Commit Id [884d3b0]: turn on `pack-in-out` option by default

- Phase 2 [Done]: Support input/output packing on tessellation pipel

[2020-03-27 12:36] nhaehnle commented on #523
Sounds good, looking forward to more details :)

[2020-03-30 14:41] dnovillo opened #529 "Use .spvasm instead of .spvas for SPIR-V assembly text files"
The standard suffix for SPIR-V assembly files is `.spvasm`.  LLPC currently uses `.spvas` which causes some mild confusion.

I have a patch that moves LLPC to use `.spvasm`.  I've renamed all the files in `llpc/test/shaderdb` but I'm not sure if this will cause friction in other external tools.  Should LLPC support both?

[2020-03-30 15:05] amdrexu commented on #529
I think you can change it to `.spvasm` and let LLPC just support this one. Initially, we did use `.spvasm` as the extension name of assembly text files. This happened 4 years ago. At that time, there was no official name. Later, we found this was somewhat verbose so we aligned the name "as" with `spirv-as` tool name.

One internal tool might be broken by this change. But it is easy to fix the prob

[2020-03-30 15:06] dnovillo commented on #529
@amdrexu thanks.  I'll post the patch shortly.

[2020-04-02 02:58] #529 closed

[2020-04-05 19:31] daviessm commented on #347
Hate to be that person but if it hasn't been upstreamed for llvm-10.0.0, is there any chance of it happening for 11.0.0?

[2020-04-06 02:41] kuhar commented on #347
As a workaround for slow compile times, you can fetch the docker images the CI produces to get nightly precompiled llpc with all the dependencies for ubuntu:
[code]
Note that there are no nightly debug images yet.

[2020-04-06 19:14] trenouf opened #545 "LGC shader compilation interface"
LGC: shader compilation interface
==================

Further to [#507 LGC: shader compilation proposal](https://github.com/GPUOpen-Drivers/llpc/issues/507), this proposal concerns the LGC interface for shader compilation and later linking.

Current interface for pipeline compilation
----------------------------

The front-end compiles a whole pipeline using LGC APIs like this:

* Create `Pipeline

[2020-04-06 19:15] trenouf commented on #507
I have opened #545 LGC shader compilation interface proposal, to detail how the front-end would call LGC (the middle-end) to do shader compilation and linking.

[2020-04-07 14:53] kuhar opened #546 "[CI] Disable the amdvlk cron action on private forks"
It seems like more people are suffering from annoying workflow failures on their private forks, e.g., https://github.com/dnovillo/llpc/runs/566051267. A temporary workaround is to disable 3rd party actions in github settings for the affected forks.

The amdvlk workflow should only run on this repo. I tried to fix it before, but couldn't figure out the proper syntax. I asked on the github community

[2020-04-07 14:54] dnovillo commented on #546
Thanks @kuhar.  Disabling third-party actions seems to be working for me.

[2020-04-12 20:40] nhaehnle commented on #545
To clarify, whenever you write "frontend", you mean a part of code that lives in the LLPC, right? So the client interface remains unchanged by this?

This sounds sub-optimal. From a high-level, the shader should already be available as IR, or as bitcode that can easily be deserialized into IR, from when CreateShaderModule was executed.

I know this is *currently* not always the case because SPIR-V

[2020-04-14 09:46] #546 closed

[2020-04-22 20:59] Google-Autofuzz opened #610 "Integrating with OSS-Fuzz"
Greetings llpc developers and contributors,

We’re reaching out because your project is an important part of the open source ecosystem, and we’d like to invite you to integrate with our [fuzzing](https://www.owasp.org/index.php/Fuzzing) service, [OSS-Fuzz]( https://opensource.googleblog.com/2016/12/announcing-oss-fuzz-continuous-fuzzing.html ). OSS-Fuzz is a free fuzzing infrastructure you can use

[2020-04-28 08:48] Flakebi opened #636 "Undefined behaviour by invalid enum values"
The values defined here
https://github.com/GPUOpen-Drivers/llpc/blob/090f200949cd66d89eaaad78c430adcef1ea19d7/lgc/include/lgc/state/Defs.h#L37-L40
are not actually members of the `BuiltInKind` enum.
https://github.com/GPUOpen-Drivers/llpc/blob/090f200949cd66d89eaaad78c430adcef1ea19d7/lgc/interface/lgc/BuiltInDefs.h#L54

Ubsan rightfully notices this as undefined behavior, they should be added to t

[2020-04-28 08:52] trenouf commented on #636
They should not be defined in interface/lgc/BuiltIns.h, because they are not part of the interface, and we don't want front-end code to be able to see them.

Why is it undefined behavior? What is the recommended way of defining an enum in an interface then extending it internally?

[2020-04-28 09:04] amdrexu commented on #636
Originally, those built-ins are to extend enumerants defined in standard spirv.hpp header. We want to use the enumeration type yet assign internal values to them without changing the standard header (we are disallowed to make any modification in the header). But now, LGC has its own definitions. If possible, they could be safely defined in enum type. If they are invisible to front-end, they could

[2020-04-28 09:15] Flakebi commented on #636
Enums are only meant to have the variants with which they are defined, assigning another value to them leaves it [unspecified](https://stackoverflow.com/a/8801031), so the compiler is free to optimize out that assignment.

I guessed that something like this would be the problem. There seems to be a way to “derive” enums explained here, looks a bit crazy though: https://stackoverflow.com/a/644651
T

[2020-04-28 09:21] Flakebi commented on #636
Ok, I’m not sure anymore, the allowed range might be bigger than enum values, so `enum BuiltInKind : unsigned` might work.

[2020-04-29 04:12] #636 closed

[2020-04-29 12:11] Flakebi opened #643 "Out of bounds read in ElfWriter::assembleNotes()"
c7a4b44 uncovered a bug in the ElfWriter. The `memcpy` rounds up the number of bytes it copies but `note.data` contains a non-multiple of 8 number of bytes, so the `memcpy` reads more than it should.
https://github.com/GPUOpen-Drivers/llpc/blob/bb8404fa88c097b8c63cdd2fd282d8c17b8704b1/llpc/util/llpcElfWriter.cpp#L484-L486

The buffer gets allocated in `updateMetaNote`:
https://github.com/GPUOpen-D

[2020-05-06 03:35] amdrexu commented on #506
The preparation work is submitted: https://github.com/GPUOpen-Drivers/llpc/pull/611

[2020-05-07 03:42] #643 closed

[2020-05-11 03:26] amdrexu commented on #506
A real implementation is: https://github.com/GPUOpen-Drivers/llpc/pull/666

[2020-05-11 03:50] amdrexu opened #668 "NGG non-GS rework"
We are going to rework original NGG non-GS framework. Recent performance tuning suggests we'd better to have some architectural changes. This ticket is to list the ongoing sub-tasks.

1. Subgroup compaction (cull the whole subgroup or not) is proved to be less useful. Vertex compaction is more flexible. `NggCompactMode` will remove the item `NggCompactSubgroup` and replace it with a new one for fu

[2020-05-13 09:43] nhaehnle commented on #668
Sounds good, some questions:

I'm not sure what you're saying here. You mean to skip the primitive ID distribution when it isn't used by the VS? That sounds good to me.

Don't we also want clip distances? If a primitive can be culled based on the clip distance, then doing so is correct.

[2020-05-13 09:50] amdrexu commented on #668
In OpenGL/Vulkan, we don't have such semantics `in int gl_PrimitiveID`. Of course, our hardware provides its value, but API shader doesn't have a way accessing it, if I remember correctly. So what I mean is to completely remove the processing of primitive ID distribution. This processing was originally only valid for API-VS.

Correct, if cull distance culling is enabled, cull distance should be re

[2020-05-15 04:48] #506 closed

[2020-05-15 08:45] nhaehnle commented on #668
I see what you mean. However, my understanding is that in a VS-PS pipeline, the fragment shader can use PrimitiveID. In this case, the VS has to export the PrimitiveID as a parameter, which means that in VS-as-NGG, we still need to distribute the PrimitiveID to the vertex threads in order to do this export.

[2020-05-15 10:34] amdrexu commented on #668
Yes, this is a case I didn't realize :)

[2020-05-15 16:47] trenouf opened #693 "Shader compilation and specialization constants proposal"
Shader compilation and specialization constants proposal
=============================

If we're going to be able to deal with specialization constants with shader compilation and linking, then we need some scheme of dealing with them with relocs.

A use of a specialization constant falls into one of two different categories:
1. A normal use of a constant in an instruction or initializer, that can

[2020-05-20 10:28] nhaehnle commented on #693
This sounds good to me at a high level. Some notes:

I think unchangeable specialization constants can be emitted as a global symbol with appropriate linkage already in the builder. The linkage should probably be `weak` (the compiler cannot discard the symbol since it acts as a semantics-affecting marker, but it can be overridden with a different value during linking). To do this exactly in line w

[2020-05-26 15:25] trenouf commented on #507
Now that I have pushed #720 fetch shader for review, here are some ideas on how to go about implementing the color export shader:

1. Analogous to "New vertex fetch pass" in #720, handle color exports in a similar way: use a new lgc.output.export.color call (instead of lgc.output.export.generic) for writing to a color export in InOutBuilder, and add a new pass into the existing FragColorExport.cpp

[2020-05-26 17:35] s-perron commented on #507
That is exactly what I was thinking.  Thanks.

[2020-05-27 16:05] jayfoad opened #724 "PatchInOutImportExport shouldn't visit whole functions"
The PatchInOutImportExport pass visits whole functions to find the call and return instructions. I think it would be more efficient to find the call instructions by iterating over users of the callee, and return instructions by looking at the terminator of each basic block. This should be faster when visiting very large functions with very few call and return instructions.

[2020-05-27 16:09] jayfoad opened #725 "SpirvLowerGlobal shouldn't visit the whole module"
The SpirvLowerGlobal pass visits the whole module to find loads and stores to global variables, and call and return instructions. I think it would be more efficient to find the load and store instructions by iterating over the users of the global variable (and recursively the users of any getelementptr instructions), and to find the call instructions by iterating over users of the callee, and to f

[2020-05-28 08:29] amdrexu commented on #725
The original visitors were always based on module not function uses. At the beginning of LLPC, we don't have enough time to evaluate the performance. Feel free to make changes towards the right direction.

[2020-05-28 16:54] Flakebi opened #727 "[CI] Status / Release builds with assertions"
Moving the discussion with @kuhar from #634 to an issue to not clutter up pull requests too much.

I didn’t make progress on release builds with assertions, the ‘Fast Jenkins Build’ is doing a debug build with sanitizers, so we currently have a CI build with assertions switched on.
There are some outstanding issues with this, most prominently, you cannot see the error messages without going to the

[2020-05-28 17:44] kuhar commented on #727
Thanks for working on this, Sebastian.

Yep, the jenkins builds don't produce much information useful to the external contributors right now. As an alternative for the fast builder, have you considered hosting a github actions runner with a machine beefy enough to handle debug builds? This won't solve the issue of running CTS, as it requires physical GPUs.

This should be already installed IIRC.

[2020-05-28 18:51] kuhar commented on #727
@Flakebi As for debug builds, I think we should be able to use gcloud builds for debug builds on GCP instead running docker build locally on the current github actions runner: https://cloud.google.com/cloud-build/docs/building/build-containers. The way I understand this, it's basically running the same docker command on a some remote machine and sending back the logs, so we should see the same log

[2020-05-28 18:54] Flakebi commented on #727
I really like GitHub actions, their declarations and the ui, Jenkins feels much more “enterprise” (meaning overly complicated, my Jenkinsfile is about 400 lines and it took two weeks to get everything working). There are two problems with it for which I currently don’t know a solution:
1. Eventually, I’d like to test LLVM patches on phabricator automatically. I’m not quite sure how doable that is

[2020-05-28 19:31] Flakebi commented on #727
Things, that I think are still missing from CI:
1. Running parts of CTS with sanitizers and assertions (should probably be a release build)
1. Measuring run-time performance
1. Measuring compile-time performance
1. More static analyzers: cppcheck, maybe oclint, @kuhar mentioned clang-tidy and clang static analyzer

If you have other ideas, I’d be interested to hear them.

Long-term statistics for

[2020-06-01 14:15] kuhar commented on #727
A thing a good proxy for finding performance regressions without having to use machines with GPUs might be running offline compilation of pipeline dumps and then running some statistics over the generated elf. Mesa does something similar: https://gitlab.freedesktop.org/mesa/mesa/-/merge_requests/3151. I think this could be a good starting point to at least be able to tell that a commits is likely

[2020-06-10 22:41] nhaehnle opened #757 "Improve support for the image instruction NSA (non-sequential address) encoding"
Some shaders have highly redundant addresses for sequences of image loads (or samples). For example, consider a blur kernel that loads an NxN block of texels from an image. There are really only 2*N different coordinates for the N*N loads. Without the NSA encoding, putting those loads into a clause blocks 2*N*N registers. With the NSA encoding, only 2*N registers are blocked.

For instruction dens

[2020-06-10 22:42] nhaehnle opened #758 "Implement new control flow lowering based on reconverging CFG transform"
Tracking issue for the bulk of control flow lowering changes.

[2020-06-10 22:46] nhaehnle opened #759 "Improve accuracy of VGPR live range calculation"
The live ranges computed for VGPRs in LLVM are conservative because they do not take thread-level control flow into account. For example:
[code]
Assuming that the order of basic blocks after structurization is as suggested by the pseudo-code, the live range of x will cover the region of code indicated by A, even though the lanes which are live there can reuse the same register for other values.

F

[2020-06-11 07:31] jiaxie-amd opened #760 "Support loading multiPlane image descriptor"
As for supporting multiplane image descriptor loading, upload the following pipeline dump file for compiler implementation reference:
[SpvPipelineMultiPlane.zip](https://github.com/GPUOpen-Drivers/llpc/files/4763143/SpvPipelineMultiPlane.zip)

The multiplane image contains an immutalbe sampler and no more than 3 planes, each plane contains 8 DWords for resource descriptor.

I listed the following

[2020-06-15 12:43] nhaehnle commented on #760
I've now had the chance to look at this in a bit more detail, and my feeling is that in order to support this descriptor set layout, we should move away from the current model of:

toward a model where:

The meaning of "fat descriptor" pointer remains unchanged: they are structs of `{ pointer, stride }`.

With this redesign, the lowering of `@lgc.image.sample` can then load the correct number of p

[2020-06-16 05:33] jiaxie-amd commented on #760
Hi Nicolai, Can you estimaate how long could this task be completed, I'm asking because the writing multiplane image descriptor support is very important in our recent plan (gating task).

[2020-06-16 10:23] trenouf commented on #760
Hi Harris

Why do we need three descriptors? Can we find some way to use a single descriptor, then derive the stride between planes from somewhere else? E.g. a new field in the immutable sampler?

If that is not possible:

Nicolai, I guess your proposal will work. But I think it is a shame to have to do that just for the benefit of this Vulkan extension, which suffers from being badly specified du

[2020-06-16 11:58] jiaxie-amd commented on #760
[AMD Official Use Only - Internal Distribution Only]

Hi Tim,

  *   Looks like the multi descriptors is a concept spec thought we should take it, for that spec mentioned:
combinedImageSamplerDescriptorCount is the number of combined image sampler descriptors that the implementation uses to access the format.
combinedImageSamplerDescriptorCount is a number between 1 and the number of planes in the

[2020-06-17 02:42] jiaxie-amd commented on #760
* Looks like the multi descriptors is a concept spec thought we should take it, for that spec mentioned:

combinedImageSamplerDescriptorCount is a number between 1 and the number of planes in the format. A descriptor set layout binding with immutable Y′CBCR conversion samplers will have a maximum combinedImageSamplerDescriptorCount which is the maximum across all formats supported by its samplers

[2020-06-18 10:22] nhaehnle commented on #760
I'd prefer to keep the YCbCr code in LGC. The bulk of it is concerned with format conversion and sampling specific that should be API-agnostic.

Maybe the weirdness of how the descriptors work is API-specific and shouldn't be done in LGC, but that would still leave the question of how to represent those "extended descriptors" in the LGC intrinsics.

I'm also not sure that the descriptor weirdness

[2020-06-18 18:23] s-perron opened #769 "Bug initializing vfx static variables"
I believe there is a problem initializing static variable because one depends on the other, but there is no guarantee of which constructor will be run first.

The varaible [`renderSectionParserInit`](https://github.com/GPUOpen-Drivers/llpc/blob/dev/tool/vfx/vfxRenderSection.cpp#L73) is a static.  It calls the [constructor](https://github.com/GPUOpen-Drivers/llpc/blob/dev/tool/vfx/vfxRenderSection.

[2020-06-18 18:48] s-perron commented on #769
This could be fixed by replacing `Section::m_sectionInfo` with a static function:

[code]

This will guarantee that the object is constructed before it is used.  However, the destructor will never be called, which can be a problem for tools that look for memory leaks.

[2020-06-18 18:48] trenouf commented on #769
Is this anything to do with Qun's fix #767 ?

[2020-06-18 18:49] s-perron commented on #769
Yes that looks like that will fix the problem.

[2020-06-18 21:36] inequation commented on #513
Hello there! Long time, no see.

I finally got to explore this a bit, and with two hacks inside the LLVM codebase, I was able to generate an ELF with the following debug line info:
[code]
And the sequence of line numbers makes sense, comparing it to the source GLSL (available in the attachment to the OP), so this is progress!

There are, however, clear problems (empty source file name replaced wit

[2020-06-18 23:13] inequation commented on #513
I synced to latest, and of course the patch no longer applied cleanly. Here it is attached, updated to match latest `GPUOpen-Drivers/llvm-project`, along with the new, much shorter output:
[code]
[hacks.txt](https://github.com/GPUOpen-Drivers/llpc/files/4801615/hacks.txt)

[2020-06-19 05:11] linqun commented on #769
Yes, it is my regression of PR#PR755. sorry for miss it. It should be fixed by PR#767.
In PR#767, I move static variable  renderSectionParserInit and vkSectionParserInit to functions , and call it explicitly when create document object, so that we can keep static variable is initialized in correct order.

[2020-06-19 13:05] #769 closed

[2020-06-19 17:48] inequation commented on #513
I believe I have a proper fix for half of the issue. See the PR mentioned above (#772).

[2020-06-23 08:45] trenouf commented on #760
I agree we need to keep the descriptor bit-twiddling, and the actual conversion code, in LGC.

As for the rest of it:

I’m in the middle of trying out a change in which the whole problem is confined to the spir-v reader. We have to give a list of the converting samplers to the spir-v reader, which breaks the notion that the spir-v reader (and whole front-end) doesn’t need to know anything about re

[2020-06-23 19:23] inequation commented on #513
#756 has the potential to resolve all my problems, and now includes my changes from #772. Needs testing.

[2020-06-24 14:50] nhaehnle commented on #760
I feel like all of this would be quite a bit simpler if we just created the LLVM-IR-style descriptor load in the same place as the LLVM-IR-style image sample intrinsic and let CSE do the rest. This is what Mesa does.

[2020-06-24 21:51] trenouf commented on #760
Hi Harris. I have some proposed commits for this in #782.

With those commits, CreateImageSampleConvert then gets called with an array of 3 image descriptors, and you can use however many of them your "number of planes" bitfield tells you to use. You should be able to rebase your change on top of that, and not need to insert any of your own descriptor loads in the middle of ImageBuilder.

My commi

[2020-06-24 21:53] trenouf commented on #760
That might be a good idea for a future change, but I think that change can be confined to the SPIR-V reader, to slightly simplify how it does the multiple plane thing. So the Builder API is still that you pass in an actual descriptor or array of descriptors.

[2020-06-30 15:39] jiaxie-amd commented on #760
Hi Tim,

Thanks for the commit, I've rebased on your #782, verified that the commit  supports multiPlane image descriptor.

It works properly after turning the stride from 12 dwords to 8 dwords in llpc/context/llpcPipelineContext.cpp.

[2020-06-30 15:43] Flakebi commented on #727
As a heads up to CI maintainers (not sure how much this applies to the internal jobs), LLVM will start to increase the minimum CMake version to 3.13.4 in about two weeks.
Reference: [D78646](https://reviews.llvm.org/D78646)

I somehow need to upgrade the CMake version of the ‘fast jenkins build’.
@kuhar, the CMake version in the GitHub CI jobs won’t survive this.

[2020-06-30 22:02] kuhar commented on #727
Thanks for pushing on this, @Flakebi.
What is missing before we can enable sanitizers in CI builds?

[2020-07-05 13:03] jinjianrong opened #800 "Improve default schedulers to cluster more memory operations (especially image ops)"

[2020-07-05 13:09] jinjianrong opened #801 "Fix clause breaks being introduced by other stages"

[2020-07-05 19:22] inequation commented on #513
As of current head, this almost works as I need it to! Fixing source file name requires a fix within glslang, which I'll be trying to get in via KhronosGroup/glslang#2321.

[2020-07-06 13:52] kuhar commented on #727
PR with sanitizers support: #805.

[2020-07-07 02:25] kuhar commented on #758
Related LLVM RFC: [[llvm-dev] RFC: Introducing CfgTraits and type-erased CfgInterface / CfgBlockRef / CfgValueRef](https://groups.google.com/d/topic/llvm-dev/Vt4qsA3hkaw)

Revision stack:
1.  [D83094 Analysis: Add a GenericCycleInfo analysis](https://reviews.llvm.org/D83094)
1.  [D83093 DomTree: Define GraphTraits for GenericDomTreeBase ](https://reviews.llvm.org/D83093)
1.  [D83092 DomTree: Add f

[2020-07-07 08:39] xuechen417 opened #806 "Fix cts tests of VK_KHR_buffer_device_address"
dEQP-VK.memory_model.message_passing.ext.u32.\*physbuffer\* crash (.vert/.frag) or fail (.comp). It's a regression recently.
The following is a simplified vertex shader to describe the issue:
#version 450 core
#pragma use_vulkan_memory_model
#extension GL_KHR_shader_subgroup_basic : enable
#extension GL_KHR_shader_subgroup_shuffle : enable
#extension GL_KHR_shader_subgroup_ballot : enable
#extensi

[2020-07-07 09:03] #760 closed

[2020-07-08 15:38] nhaehnle commented on #806
Were you able to track down the change at fault of the crash using `git bisect`?

[2020-07-09 00:59] xuechen417 commented on #806
Thanks. The assertions help me find the break changes. I will try git bisect next time.

[2020-07-15 07:55] jinjianrong opened #822 "Allow for more code-motion - specially to get better grouping and latency hiding"

[2020-07-15 07:56] jinjianrong opened #823 "Create better back-end passes e.g. aggressive re-mat to reduce live-ranges where necessary to improve occupancy"

[2020-07-15 08:17] jinjianrong opened #824 "Better unroll heuristics"

[2020-07-15 08:24] jinjianrong opened #825 "Handle the “DontUnroll" and "Unroll" spirv flag in better way"
These flags should just be a hint to the compiler; LLPC needs to analyze the loops to decide if it will respect the flags or not

[2020-07-15 16:39] kuhar opened #829 "ICD built with shader cache and assertions enabled crashes on vkcube"
This requires two things to crash:
1. Assertions on, either `-DCMAKE_BUILD_TYPE=Debug` or `-DXGL_ENABLE_ASSERTIONS=ON`.
2. Shader cache enabled: `-DLLPC_ENABLE_SHADER_CACHE=ON`

Repro: run vkcube
[code]

GDB back trace:
[code]

[2020-07-16 12:04] mwezdeck opened #832 "Implement YCbCr conversion for GFXIP=8"
YCbCr conversion is implemented only for GFX IP = 9,10. I would like to implement this feature for GFX IP=8.

[2020-07-16 14:15] afd opened #833 "LLPC crashes on shader that tries to apply OpCopyObject to void"
LLPC errors with:

[code]

on the attached SPIR-V.

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/4931981/tofile.zip)

Command used:

[code]

I opened a SPIR-V spec issue to see whether OpCopyObject should really be legal on something of type void - the spec currently says that it is.

[2020-07-16 14:29] afd opened #834 "LLPC crashes with "LLVM FATAL ERROR: Broken function found, compilation aborted!""
Like #833, this features the use of OpCopyObject.  However, the reduced shaders and the compiler errors look different to me, hence I'm filing separate issues.

LLPC errors with:

[code]

on the attached SPIR-V.

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/4932070/tofile.zip)

Command used:

[code]

Issue found using spirv-fuzz.

[2020-07-16 14:42] kuhar commented on #727
We have CI bots running builds with assertions and sanitizers enabled now. I think this should cover the scope of this issue. @Flakebi can we close this issue, or is there anything else left?

[2020-07-16 15:01] afd opened #835 "LLPC crashes with Assertion `getType() == getValueType(Op) && "Inconsistent type"' failed"
This problem seems to be related to the fact that in SPIR-V it is acceptable to use an unsigned result type with OpSNegate.

LLPC errors with:

[code]

on the attached SPIR-V.

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/4932266/tofile.zip)

Command used:

[code]

Issue found using spirv-fuzz.

[2020-07-16 15:16] afd commented on #834
Here is another example of what looks like the same problem, but it gives a different error.  The difference compared with the above is that this time OpCopyObject is applied to a pointer with Function storage class, whereas the previous example is Input storage class.

[tofile2.zip](https://github.com/GPUOpen-Drivers/llpc/files/4932377/tofile2.zip)

This time the message is:

[code]

[2020-07-16 15:31] Flakebi commented on #727
It’s done, thanks for the reminder!

<sub>CTS with asan would be nice but that’s for another time</sub>

[2020-07-16 15:31] #727 closed

[2020-07-16 16:05] afd opened #836 "LLPC crashes on shader that uses bvec4"
LLPC errors with:

[code]

on the attached SPIR-V.  I'm attaching an Amber test that has three equivalent shaders - LLPC crashes on the version that declares a bvec4 variable initialized to (false, false, false, false).  Also in the archive is minimized SPIR-V that reproduces the issue.

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/4932668/tofile.zip)

Command used:

[code]

Issue fo

[2020-07-16 16:38] trenouf commented on #836
What happens if you don't say "-val=false"?

[2020-07-16 17:49] kuhar commented on #836
I field pull request with the test from this and the other issues.
This particular one seems to only require assertions to fail.

[2020-07-16 19:12] nhaehnle opened #840 "Generating readfirstlane efficiently when values are used as operands that must be uniform"
This issue is prompted by #811, which contains a partial and unfortunately partially incorrect or at least fragile attempt to fix the underlying problem, which occurs in IR such as:
[code]
According to the SPIR-V spec, we know that `%descriptor` must be uniform (assuming no NonUniform decoration). This information should be propagated to `%idx` so that we only need a single 32-bit readfirstlane, a

[2020-07-17 01:26] xuechen417 commented on #840
I would like to take on it. I am trying to digest your general solution.

[2020-07-17 08:41] nhaehnle commented on #832
Yes, feel free to go ahead :+1:

[2020-07-17 09:31] mwezdeck commented on #832
I'm trying to understand the code, however I don't understand one thing.

There is member field unsigned tileOptimal : 1 In SamplerYCbCrConversionMetaData in word1 structure. I don't see where it is initialized at all. However, in  YCbCrAddressHandler::genHeightAndPitch function there is decision made based on this bit.

Can somebody explain this to me?

[2020-07-17 09:31] mwezdeck commented on #832
IS it safe to make decision based on compiler initialized variable?

[2020-07-20 03:28] jiaxie-amd commented on #832
When  #743  and a latter code clean up change is merged, the tileOptimal bit should no longer being used in compiler.

[2020-07-20 08:55] trenouf commented on #840
Sounds like a good plan to me.

[2020-07-21 16:35] nhaehnle opened #844 "Move known-uniform values from VGPRs back to SGPRs where possible and beneficial"
There are situations where values that are known to be uniform nevertheless end up in VGPRs because they are results of operations that are only supported as vector instructions. Some examples:

* Floating point operations.
* Loads from a uniform address that must nevertheless go through V$, e.g. to ensure coherence / memory model properties.
* image_get_resinfo and other image-related operations

[2020-07-21 16:46] nhaehnle opened #845 "Open-coded implementation of image_get_resinfo"
`image_get_resinfo` does not actually access memory, so invoking an image instruction for its purpose is quite expensive.

Instead, we can implement its functionality using bit manipulation. For example, querying the size can be achieved by bit extraction to get the base level size plus some arithmetic, so a small number of typically scalar instructions. This avoids the round-trip through the text

[2020-07-21 16:47] nhaehnle commented on #845
@Kai-AMD Is this something you could look into, given your work on #843? Also Cc @amdrexu

[2020-07-22 02:38] xuechen417 commented on #840
@nhaehnle I'm not sure whether my understanding of the solution in #840 is correct.

_1.  Early in the compiler pipeline (e.g. SPIRVReader), insert a readfirstlane directly on the descriptor._
- What's the reason for it?
- Does that mean we don't need enforceUniformIndex for various methods in ImageBuilder class and put enforceUniformIndex in the new pass?
- I try to insert a readfirstlane on the

[2020-07-22 05:56] yjaelex commented on #844
What is pipeline switching cost of readfirstlane? Is it some kind of wait or bubble in the shader engine pipeline?

Alex

[2020-07-22 08:13] dstutt commented on #844
I'm not sure what you mean by the last paragraph. Did you mean SALU to VALU (or the other way around)?

Also, if you meant VALU to SALU - presumably you are saying that the optimisation may only be worth it when we can pay the pipeline switching cost fewer times by grouping the readfirstlanes?

[2020-07-22 09:37] xuechen417 commented on #840
@nhaehnle In indexDescPtr, the following instructions sequences are generated
[code]
I have no idea of what kind of case that has a if-block between Mul and GEP. Could you please give some hint about the glsl source or spv text looks like to generate the if-block pseudo-llvm?

[2020-07-24 17:10] nhaehnle commented on #844
Yeah, the result of the v_readfirstlane isn't immediately available for scalar instructions, so if the only benefit of the v_readfirstlane would be to turn 2 or 3 VALU instructions into SALU ones, it's probably not worth it in most cases.

[2020-07-24 17:22] nhaehnle commented on #840
It models the behavior of the conceptual image instruction: the image instruction will always execute with a uniform descriptor (enforced by the readfirstlane). If the incoming descriptor is non-uniform, the behavior is undefined (it just takes the descriptor from one lane).

Some version of enforceUniformIndex, yes.

It is best to insert the readfirstlane in the same place where the waterfall log

[2020-07-27 08:16] Kai-AMD commented on #845
@nhaehnle, Alex,Yan will go on implementing #845.

[2020-07-27 08:22] xuechen417 commented on #840
You said "start with the readfirstlane close to the texture builtin from the SPIRVReader". Do you actually mean ImageBuilder? NonUniform decoration is first present in SPIRVToLLVM::getImageDesc. I think inserting a readfirstlane on the descriptor here needs change one place, but the waterfall logic scatters in many methods in ImageBuilders.

I have a question. We use track back through to find the

[2020-07-28 02:56] amdrexu commented on #806
I think this is resolved.

[2020-07-28 02:56] #806 closed

[2020-07-28 03:04] xuechen417 commented on #806
Yes, it is resolved in 394d5539 ("Fix physical buffer pointer in push constants").

[2020-07-29 20:10] s-perron opened #861 "Color export shader has wrong PS Input metadata"
When processing the color export shader[, LLVM will look at the inputs ](https://github.com/GPUOpen-Drivers/llvm-project/blob/amd-gfx-gpuopen-dev/llvm/lib/Target/AMDGPU/SIISelLowering.cpp#L1689 )and set metadata values accordingly.  This is just wrong for the color export shaders.

This could be fixed when merging the metadata, but that is not ideal.

This could be fixed in llvm, but would require

[2020-07-30 20:26] s-perron opened #864 "Dangling pointer when using relocatable shaders"
When getting the pass manager from the pass manager cache, a `raw_pwrite_stream` is passed it, and stored in the pass manager cache in `m_proxyStream`.  See [here](https://github.com/GPUOpen-Drivers/llpc/blob/dev/lgc/state/PassManagerCache.cpp#L70).

By itself this is not a problem.  However, when `setUnderlyingStream` is called, [it will flush the previously stored stream](https://github.com/GPUO

[2020-08-05 13:18] s-perron commented on #861
@nhaehnle @trenouf Do either of you have any opinion on how to best fix this?

[2020-08-06 17:52] kuhar opened #879 "[CI] Sanitizer AMDVLK builds fail because of insufficient disk space"
Started failing 7 days ago, the first failure was https://github.com/GPUOpen-Drivers/llpc/runs/927523361?check_suite_focus=true:
[code]

This fails very late in the build. We should reduce disk usage or disable them. Other build configurations are unaffected.

[2020-08-06 17:54] kuhar commented on #879
Sometimes fails with different files:
[code]

This only affects builds with assertions on and sanitizers; sanitizers and no assertions work fine.

[2020-08-06 18:54] kuhar commented on #879
I was watching the builds and it seems to me that too many llvm tools get built. It may be worth seeing if we can exclude them in CMake.
[code]

[2020-08-07 02:01] lifpan commented on #833
I think this is illegal. See SPIR-V SPEC section **2.2.1 Instructions**

[2020-08-07 15:06] kuhar commented on #879
@Flakebi Could you look into excluding the unnecessary llvm tools from cmake builds? This is outside of the llpc repo, so it should be a bit easier to change the builds system for the AMD folks.

[2020-08-07 17:00] s-perron opened #882 "cached pass manager reuses previous metadata"
When generating glue shaders, we try to reuse the same pass manager.  The p[rinter pass in the pass manager owns](https://github.com/GPUOpen-Drivers/llvm-project/blob/amd-gfx-gpuopen-dev/llvm/lib/CodeGen/LLVMTargetMachine.cpp#L177) an `AMDGPUTargetStreamer` object which contains the [state of the Palmetadata](https://github.com/GPUOpen-Drivers/llvm-project/blob/amd-gfx-gpuopen-dev/llvm/lib/Target/

[2020-08-08 11:38] #864 closed

[2020-08-10 03:30] amdrexu commented on #836
Fixed.

[2020-08-10 03:30] #836 closed

[2020-08-10 08:35] nhaehnle commented on #882
The MCTargetStreamer has a `finish` method. We're overriding this to emit the PAL metadata in the various streamers (ELF and Asm) -- perhaps the metadata could just be reset there?

[2020-08-10 08:37] nhaehnle commented on #861
I think Mesa just explicitly ignores the relevant register settings from the color export shader. That doesn't seem too unreasonable to me.

[2020-08-10 10:14] trenouf commented on #861
Yeah, I guess that would work, although it's a shame it needs a bit of special case code to ignore or remove the PS inputs metadata on a color export shader.

Maybe an alternative approach would be to use some other shader calling convention. I'm assuming that only PS has this kind of special treatment, and using VS might work. (There is some other special case code in the back-end for other shade

[2020-08-10 17:25] s-perron commented on #882
That seems like a good solution.  I've opened a differential in phabricator: https://reviews.llvm.org/D85667.

[2020-08-11 03:15] s-perron commented on #861
I don't mind implementing either solution.  If we do what @nhaehnle suggests, then it will require a bit of reworking in the PAL metadata merging because the current code was design to be agnostic about which shaders the values were coming from.  So there is currently no way for the code to know that a value is coming from the glue code or the main shader.

I'm not sure I like the idea of lying to

[2020-08-11 05:19] #835 closed

[2020-08-12 14:04] s-perron opened #896 "The SI_RETURN_TO_EPILOG instruction is not always at the end of the FS"
**I believe that we will have to translate the `SI_RETURN_TO_EPILOG` as a branch to the the place where the color export shader will be placed.**

When I compile the shader provided below with relocatable shaders turned on with the color export shader, the `SI_RETURN_TO_EPILOG` instruction is not the last instruction in the shader.  The final MIR is:

[code]

Note that the `SI_RETURN_TO_EPILOG` is

[2020-08-12 14:28] perlfu commented on #896
There is code in LLVM SIPreEmitPeephole.cpp that attempts to ensure SI_RETURN_TO_EPILOG occurs at the end of the shader.  I think the bb.4 here is a null export for early exit of the shader (from the OpKill?).  I recently arranged for all early exit null exports to be unified at the end of the shader.  If SI_RETURN_TO_EPILOG exists there should be a branch over the null export block.  So what you

[2020-08-12 15:12] s-perron commented on #896
FYI: This is the branch I am using https://github.com/s-perron/llpc/tree/fail.  I have some changes that have not been merged yet that might be needed to reproduce the problem.  Then you can reproduce the problem by doing:

[code]

[2020-08-12 15:54] s-perron commented on #896
Here is a pipeline that will fail when we use color export shaders.  The end of the FS when compiled with the branch above  is given below.  Note that the body ends, then the data will be treated like executable code before the color export shader is reached.

[code]

[PipelineVsFs_FsWithData.txt](https://github.com/GPUOpen-Drivers/llpc/files/5063905/PipelineVsFs_FsWithData.txt)

[2020-08-12 22:49] #879 closed

[2020-08-13 03:57] perlfu commented on #896
There was indeed a backend issue: https://reviews.llvm.org/D85872

[2020-08-13 13:08] s-perron commented on #896
Thanks @perlfu that is great.

As for the issue with the data at the end of the pixel shader, I have been told that PAL is now able to handle placing the data in a `.rodata` section, with a relocation for its address.  So, we can make a change to LLVM to place the data in a different section for PAL OS.  That is a small change [here](https://github.com/llvm/llvm-project/blob/eaa341fbea961894759355

[2020-08-13 13:28] Flakebi commented on #896
For reference, the LLVM change is proposed in [D85895](https://reviews.llvm.org/D85895).

[2020-08-17 07:39] #834 closed

[2020-08-18 13:54] trenouf commented on #861
I guess we'll have to go with Nicolai's suggestion and making the linker code a bit less general. Maybe a glue shader could have a flag that says "ignore my metadata registers other than vgpr/sgpr/lds usage", and that gets passed that into the linker code. Or something like that.

[2020-08-18 18:59] #882 closed

[2020-08-18 19:00] s-perron commented on #861
Okay, I have implemented it by passing a flag that says whether or not the pal metadata being merged in comes from glue code.  The changes are not as intrusive as I thought they would be.

[2020-08-19 09:25] LLJJDD commented on #833
This issue happens to be fixed by #894, which is originally intended to fix #834. Can be closed.

[2020-08-19 10:34] afd commented on #833
Thanks.  @lifpan I will follow up with Khronos regarding getting the SPIR-V specification and validator improved if the working group agree with your analysis that this is invalid.

[2020-08-24 15:20] kuhar commented on #758
Related RFC: [[llvm-dev] [RFC] Introducing convergence control bundles and intrinsics](https://groups.google.com/g/llvm-dev/c/m3pnM3LU8tk/m/kUGZN10ABwAJ)

[2020-08-25 06:40] #896 closed

[2020-08-25 10:35] #861 closed

[2020-08-28 11:18] afd opened #922 "LLPC fails with "PHINode should have one entry for each predecessor of its parent basic block!""
Found using LLPC c9c9a410565ece5c5a8735ddef7c8b24a8446db6.

[Files needed to reproduce the bug](https://github.com/GPUOpen-Drivers/llpc/files/5141735/tofile.zip).

Command to reproduce the bug:

[code]

I see this output:

[code]

[2020-08-28 11:23] afd opened #923 "LLPC fails with "Attributes 'noinline and alwaysinline' are incompatible!""
Found using LLPC 6adfe96fc4f0a0e7680e827eed48eed8d28cb4dc.

[Files needed to reproduce the bug](https://github.com/GPUOpen-Drivers/llpc/files/5141764/tofile.zip).

Command to reproduce the bug:

[code]

I see this output:

[code]

Issue found using spirv-fuzz.

[2020-08-28 11:29] afd commented on #833
@LLJJDD I don't know whether we care about this - because as @lifpan pointed out the spec should probably change to make it explicitly invalid to apply OpCopyObject to void, but the attached still crashes LLPC.

We have changes spirv-fuzz so that it shouldn't emit object copies of void in the future, but thought I'd attach this here (rather than opening a new issue) in case you want to make LLPC r

[2020-08-28 11:48] afd opened #924 "LLPC fails assertion in Llpc::SpirvLowerMemoryOp::runOnModule"
Found using LLPC c9c9a410565ece5c5a8735ddef7c8b24a8446db6.

[Files needed to reproduce the bug](https://github.com/GPUOpen-Drivers/llpc/files/5141876/tofile.zip).

Command to reproduce the bug:

[code]

I see this output:

[code]

[2020-08-30 08:27] afd opened #926 "LLPC fails with "Stored value type does not match pointer operand type!""
Found using LLPC c9c9a410565ece5c5a8735ddef7c8b24a8446db6.

[Files needed to reproduce the bug](https://github.com/GPUOpen-Drivers/llpc/files/5146493/tofile.zip)

Command to reproduce the bug:

[code]

I see this output:

[code]

Found using spirv-fuzz.

[2020-08-30 08:33] afd opened #927 "LLPC fails with "Bad machine code: Using an undefined physical register" and "Bad machine code: VOP3 instruction uses literal""
Reproduces using LLPC 6adfe96fc4f0a0e7680e827eed48eed8d28cb4dc.

[Files needed to reproduce the bug](https://github.com/GPUOpen-Drivers/llpc/files/5146499/tofile.zip)

Command to reproduce the bug:

[code]

I see this output:

[code]

Found using spirv-fuzz.

[2020-08-31 07:17] perlfu commented on #927
Assigning myself as this looks like it might be to do with the scratch bounds pass which I wrote (a while ago).

[2020-08-31 09:13] ruiling commented on #926
@afd could you double check the llpc version? I could not reproduce the issue using latest llpc dev branch.

[2020-08-31 15:26] afd commented on #926
@ruiling sorry - the commit hash refers to:

https://github.com/GPUOpen-Drivers/AMDVLK/commit/c9c9a410565ece5c5a8735ddef7c8b24a8446db6

This indeed doesn't use the latest llpc dev commit.  Later on I'll check whether the original unreduced shader fails with the latest dev commit.  If not then I guess this issue has been independently fixed.

[2020-09-01 07:54] afd commented on #926
I tried this with 6adfe96fc4f0a0e7680e827eed48eed8d28cb4dc and it indeed does not reproduce, so must have been independently fixed.

I know for future that the latest commit used by GPUOpen-Drivers/AMDVLK doesn't use the latest dev commit of llpc.

[2020-09-01 07:54] #926 closed

[2020-09-01 08:00] afd commented on #833
You are right - sorry.  I had failed to realise that the latest LLPC that AMDVLK checks out did not include this fix.  Closing the issue.

[2020-09-01 08:04] afd commented on #924
This does not reproduce with 6adfe96fc4f0a0e7680e827eed48eed8d28cb4dc - as with some other recent issues it's due to me unwittingly not testing with the latest LLPC.  Closing.

[2020-09-01 08:04] #924 closed

[2020-09-01 08:20] afd opened #933 "LLPC fails assertion "Assertion `Value > 0 && "Value must not be 0"'""
Found using LLPC 6adfe96fc4f0a0e7680e827eed48eed8d28cb4dc.

[Files needed to reproduce the issue](https://github.com/GPUOpen-Drivers/llpc/files/5154812/tofile.zip)

Command to reproduce the issue:

[code]

I see this output:

[code]

Issue found using spirv-fuzz.

[2020-09-01 08:49] afd opened #934 "LLPC fails after a long time with "LLVM FATAL ERROR: branch size exceeds simm16""
Found using LLPC 6adfe96fc4f0a0e7680e827eed48eed8d28cb4dc.

This issue might be regarded as low priority since it requires a shader with a large number of function calls to trigger.  Nevertheless, it could be important if there is a need for LLPC to perform well on very large shaders such as ubershaders.

Files needed to reproduce the issue attached in comment below.

This contains two different s

[2020-09-01 08:51] afd commented on #934
Here are the files needed to reproduce the issue:

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/5155033/tofile.zip)

[2020-09-01 14:39] kuhar commented on #933
This seems to be passing for me locally, waiting to see if our CI bots agree.

[2020-09-02 05:40] kuhar commented on #933
This passes with the current version of llpc and is added as a regression test.

[2020-09-02 05:40] #933 closed

[2020-09-02 05:42] kuhar commented on #934
This reproduces on builds with and without assertions. I added the spirv to our test suite.

[2020-09-02 11:03] perlfu commented on #927
Just to update this ticket.
The fix for this will be to the LLVM backend pass.  I will embed the failing IR in relevant LLVM lit test.
I will update the ticket again when that fix has been made and promoted to Github.

[2020-09-03 08:59] afd opened #944 "LLPC fails assertion "this->replaceAllUsesWith(expr(this)) is NOT valid!""
Found using a build with assertions ON and sanitizers ON, using these commit hashes:

/vulkandriver/drivers/AMDVLK
88d3e8e911055fe9c6a7ae1960b9fae13a70a9cf
/vulkandriver/drivers/llpc
aacd74a46f62e652b63cfb2b6f145f6e489d74d4
/vulkandriver/drivers/llvm-project
ccbc834ac4f92e63a9a003bd5a18cb9fcf3c6121
/vulkandriver/drivers/pal
9074bd0bdaf67fa84399dfabed3ec437951838f8
/vulkandriver/drivers/spvgen
c054

[2020-09-03 09:02] afd opened #945 "LLPC fails assertion: `isEqual(getLiveRegsBefore(*NonDbgMI, *LIS), LRS)'"
Found using a build with assertions ON and sanitizers ON, using these commit hashes:

/vulkandriver/drivers/AMDVLK
88d3e8e911055fe9c6a7ae1960b9fae13a70a9cf
/vulkandriver/drivers/llpc
aacd74a46f62e652b63cfb2b6f145f6e489d74d4
/vulkandriver/drivers/llvm-project
ccbc834ac4f92e63a9a003bd5a18cb9fcf3c6121
/vulkandriver/drivers/pal
9074bd0bdaf67fa84399dfabed3ec437951838f8
/vulkandriver/drivers/spvgen
c054

[2020-09-03 09:05] afd opened #946 "LLVM FATAL ERROR: Use not jointly dominated by defs."
Found using a build with assertions ON and sanitizers ON, using these commit hashes:

/vulkandriver/drivers/AMDVLK
88d3e8e911055fe9c6a7ae1960b9fae13a70a9cf
/vulkandriver/drivers/llpc
aacd74a46f62e652b63cfb2b6f145f6e489d74d4
/vulkandriver/drivers/llvm-project
ccbc834ac4f92e63a9a003bd5a18cb9fcf3c6121
/vulkandriver/drivers/pal
9074bd0bdaf67fa84399dfabed3ec437951838f8
/vulkandriver/drivers/spvgen
c054

[2020-09-03 09:08] afd opened #947 "AddressSanitizer: use-after-poison /vulkandriver/drivers/llvm-project/llvm/include/llvm/CodeGen/MachineInstr.h:281:43 in getParent"
Found using a build with assertions ON and sanitizers ON, using these commit hashes:

/vulkandriver/drivers/AMDVLK
88d3e8e911055fe9c6a7ae1960b9fae13a70a9cf
/vulkandriver/drivers/llpc
aacd74a46f62e652b63cfb2b6f145f6e489d74d4
/vulkandriver/drivers/llvm-project
ccbc834ac4f92e63a9a003bd5a18cb9fcf3c6121
/vulkandriver/drivers/pal
9074bd0bdaf67fa84399dfabed3ec437951838f8
/vulkandriver/drivers/spvgen
c054

[2020-09-04 05:04] kuhar commented on #946
This fails for me with assertions and passes without.

[2020-09-04 06:18] kuhar commented on #934
This test sometimes explodes in out presubmit tests: https://github.com/GPUOpen-Drivers/llpc/pull/952/checks?check_run_id=1070354992.

IMO we should prioritize fixing this.

[2020-09-04 07:15] ruiling commented on #724
I am analyzing failures of in CTS caused by #939. One of the issue is about tracking m_lastExport, the existing implementation visiting the instructions in order and easily track and update the m_lastExport to set 'Done' flag to the very last export instruction. @amdrexu  suggest me to delay the position0 export as the last export to position in the last block. so we don't need to track last expor

[2020-09-05 01:19] #923 closed

[2020-09-09 08:52] nhaehnle opened #957 "Use NewGVN and remove special-cases for phi nodes in PatchPeepholeOpt"
Shader code sometimes ends up containing non-trivial equivalent phi nodes in loops. See below for an example.

PatchPeepholeOpt has some very hard-coded logic in `visitPhiNode` that ought to be able to detect and simplify the example below (`%y1` and `%y2` playing the role of `phiNode` and `otherPhiNode`, respectively). However, that logic is very specific to a single special case. We ought to be

[2020-09-09 09:28] ruiling commented on #957
I have asked @LLJJDD to re-investigate the problem this optimization tries to fix, if GVN solve such problem well, I think the optimization can be entirely removed. If not, I think we can temporarily refactor the code and fix the issues in the code and see whether we can upstream into LLVM later.

[2020-09-09 13:47] nhaehnle commented on #957
One thing to keep in mind is that only NewGVN seems to optimize those phi nodes, old GVN doesn't. We already have old GVN in our pass pipeline, maybe we can just switch that over to NewGVN.

[2020-09-09 15:46] dstutt commented on #957
Just tried replacing GVN with NewGVN locally, and it at least passes testing.

[2020-09-10 00:59] xuechen417 commented on #523
The last part (packing on GS) of this issue is still working in progress. Reopen it for the track.

[2020-09-13 07:55] perlfu commented on #927
Fix for this has been promoted to the GPUOpen/llvm-project amd-gfx-gpuopen branch.

[2020-09-13 16:43] kuhar commented on #927
@perlfu can you please paste the phabricator link to the llvm revision here?
Can we create an lgc test for this?

[2020-09-14 15:22] perlfu commented on #927
It was not fixed in upstream LLVM as the pass is only out our branch as of LLVM as it needs future work.
Fix is in this commit:
https://github.com/GPUOpen-Drivers/llvm-project/commit/704156fbd9d9b9f0ae96b037baf97bb4f0e6c720
I put in a backend test based on the generated LLVM; however, we could also add an LGC test.

[2020-09-17 03:04] ruiling commented on #947
how to build xgl with asan enabled? I tried on ubuntu 18.04, I failed to generating makefile through " cmake $xgl_path -DCMAKE_BUILD_TYPE=RelWithDebInfo -DXGL_USE_SANITIZER=Address". I got error message " Host compiler appears to require libatomic, but cannot find it." but I have already installed libatomic-ops-dev libatomic1:amd64. Do you have any idea? @afd @kuhar

[2020-09-17 04:03] kuhar commented on #947
@ruiling see https://github.com/GPUOpen-Drivers/llpc/blob/dev/docker/amdvlk.Dockerfile#L84 for complete instructions

Alternatively, you can also just grab the latest sanitizer docker image produced by the nightly cron job with something like:
[code]

[2020-09-21 03:55] #945 closed

[2020-09-21 03:55] #946 closed

[2020-09-21 03:55] #957 closed

[2020-09-23 06:42] ruiling commented on #934
I tried newer llvm version, the spv can compile successfully, so I guess somebody else fix the issue.
commit 240f3dd769edd6615fa478ecb9f7a761922ac026 (origin/amd-gfx-gpuopen-dev, origin/HEAD, amd-gfx-gpuopen-dev)
Merge: c72fe645f96 4ef4636769e
Author: Tim Renouf <tim.renouf@amd.com>
Date:   Thu Sep 10 19:52:42 2020 +0100

    Overwritten with: 4ef4636769e7 [AMDGPU] Set DS alignment requirements to

[2020-09-29 14:00] s-perron opened #981 "SGPR spill to VGPR causes invalid load"
LLPC is generating code that will generate an address in VGPRs and move it to SGPRs for a load.  However, the code can potentially be run when `exec` is 0, which means the address is not generated, and the load happends from a random address.

I believe the fix should be to generate a branch to skip the code if `exec` becomes 0.

Compile [ps.spvasm.txt](https://github.com/GPUOpen-Drivers/llpc/file

[2020-09-29 14:12] s-perron commented on #981
sorry this is the correct spir-v:
[ps.spvasm.txt](https://github.com/GPUOpen-Drivers/llpc/files/5299618/ps.spvasm.txt)

[2020-09-29 14:42] trenouf commented on #981
Should the code in lib/Target/AMDGPU/SIRemoveShortExecBranches.cpp consider a readfirstlane to be "has unwanted effects when exec empty"? Is it the code in there that is removing the branch? Or @perlfu is this more a special case to do with kill?

[2020-09-29 15:05] nhaehnle commented on #981
https://github.com/llvm/llvm-project/blob/51323fe2b89e976dc53356299d5cc3daeaaee5a7/llvm/lib/Target/AMDGPU/SIInstrInfo.cpp#L3142

So this is really specific to OpKill. Recall that we try to early-exit the wave when kill turns EXEC=0, but we can't do that in nested control flow. This is one more argument in favor of doing the exo-skeleton thing that I presented internally a while ago, but that only

[2020-09-29 15:26] s-perron commented on #981
@nhaehnle @trenouf Remember this uses the discard-to-demote transformation.  It seem to do the right thing if that transformation is turned off.  It may not be related to OpKill, but to OpDemoteToHelper.

[2020-10-02 13:47] s-perron commented on #981
I have looked into this further.

When the option `-amdgpu-transform-discard-to-demote` is used, kills are turned into "demote" instructions.  This means that the threads that are killed are still suppose to run normally if something in their quad has not been killed, but they are not to export any values.  The code that does the demotion happens [here](https://github.com/GPUOpen-Drivers/llvm-proj

[2020-10-07 14:08] s-perron commented on #981
The proper solution for this will be larger than I can get done any time soon.

From what I can tell, the llvm-ir separates the demote and kill instructions from the branch.  For example, after `AMDGPUConditionalDiscard` a kill will get turned into something like:

[code]

The kill is used to update the exec.  The the branch is treated like a normal branch.  It will update the exec, which is redun

[2020-10-20 02:20] ruiling commented on #947
Issue fixed in llvm https://reviews.llvm.org/D89092. It will be available after next llvm promotion. sorry for the late reply.

[2020-10-22 02:43] ruiling commented on #934
since the test is removed by #955, I think we need to close the issue? @kuhar @afd

[2020-10-22 12:19] Flakebi opened #1008 "dEQP-VK.tessellation.fractional_spacing.hlsl_odd/even: Assertion `arrayStride >= storeSize' failed"
Running dEQP-VK.tessellation.fractional_spacing.hlsl_odd or dEQP-VK.tessellation.fractional_spacing.hlsl_even and assertions enabled (`-DXGL_ENABLE_ASSERTIONS=ON`) fails:
[code]

[2020-10-22 12:22] Flakebi opened #1009 "dEQP-VK.glsl.shader_clock.*: Assertion `scope == spv::ScopeDevice || scope == spv::ScopeWorkgroup' failed"
Running dEQP-VK.glsl.shader_clock.vertex.clockARB or other tests in dEQP-VK.glsl.shader_clock.* fails when assertions are enabled (`-DXGL_ENABLE_ASSERTIONS=ON`):
[code]

[2020-10-22 12:50] amdrexu commented on #1009
@ruiling This might be relevant to https://github.com/GPUOpen-Drivers/llpc/pull/1001

[2020-10-22 13:24] ruiling commented on #1009
yes, I think this issue should be fixed by #1001.

[2020-10-22 14:03] Flakebi commented on #1009
You’re right, my llpc was outdated. Sorry for the noise.

[2020-10-22 14:03] #1009 closed

[2020-10-23 15:19] kuhar commented on #947
This has recently started passing: https://github.com/GPUOpen-Drivers/llpc/runs/1295716691?check_suite_focus=true

[2020-10-23 15:35] kuhar commented on #947
Thanks for the fix, @ruiling. In the future, could you please add a comment with a related phabricator revision *before* it's actually committed, so that we get a change participate in code review or downstream testing too?

[2020-10-24 01:26] ruiling commented on #947
sounds good idea, thanks for the advice @kuhar

[2020-10-26 13:38] amdrexu commented on #668
All work is done.

[2020-10-26 13:38] #668 closed

[2020-10-27 03:35] #947 closed

[2020-11-10 02:57] ruiling commented on #1008
The spirv program seems break vulkan spec. I have reported an issue in glslang(https://github.com/KhronosGroup/glslang/issues/2439). I will try to remove the cts test if glslang does not fix it.

[2020-11-10 06:26] ruiling commented on #724
Let's close the issue since #939 was merged.

[2020-11-10 06:26] #724 closed

[2020-11-10 07:38] jayfoad commented on #724
Thank you!

[2020-11-12 16:23] afd opened #1034 "LLPC fails with LLVM fatal error: "PHI node has multiple entries for the same basic block with different incoming values!""
Running LLPC with IR verification on one of the attached shaders leads to a fatal error.

llpc revision: c877ce19d1af35a04abe5d2b49702eaa49061b8a
llvm-project revision: 88613f67ca2e3e64cc1c7c4ccd47e126495e6e23

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/5531836/tofile.zip)

[code]

[2020-11-12 16:23] afd commented on #1034
I will add a shader-db test in due course.

[2020-11-12 16:31] afd opened #1035 "LLPC fails with LLVM fatal error: "Instruction operands must be first-class values!""
Running LLPC with IR verification on one of the attached shaders leads to a fatal error.

llpc revision: c877ce1
llvm-project revision: 88613f67ca2e3e64cc1c7c4ccd47e126495e6e23

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/5531886/tofile.zip)

It looks like a problem to do with OpTypeVoid being the type of an OpPhi instruction.  Though unusual, this is allowed according to the SPIR-V

[2020-11-12 16:31] afd commented on #1035
I will add a shader-db test in due course.

[2020-11-12 16:37] afd opened #1036 "LLPC fails assertion in LLVM: "Initializer for struct element doesn't match!""
Running LLPC with IR verification on one of the attached shaders leads to an assertion failure.

llpc revision: c877ce1
llvm-project revision: 88613f67ca2e3e64cc1c7c4ccd47e126495e6e23

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/5531919/tofile.zip)

[code]

[2020-11-12 16:38] afd commented on #1036
I will add a shader-db test in due course.

[2020-11-12 16:47] afd opened #1037 "LLPC fails assertion in LLVM: "Invalid type for pointer element!""
Running LLPC with IR verification on one of the attached shaders leads to an assertion failure.

Like #1035, the SPIR-V involves OpPhi on OpTypeVoid, which (though unusual) is valid according to the spec.

llpc revision: c877ce1
llvm-project revision: 88613f67ca2e3e64cc1c7c4ccd47e126495e6e23

[tofile.zip](https://github.com/GPUOpen-Drivers/llpc/files/5531956/tofile.zip)

[code]

[2020-11-13 04:06] amdrexu commented on #832
This task seems finished.

[2020-11-13 04:06] #832 closed

[2020-11-17 09:54] afd commented on #934
Yes, makes sense.

[2020-11-17 09:54] #934 closed

[2020-11-19 15:12] s-perron opened #1047 "Regression in relocatable shaders caused by llvm-project change"
Many of our internal tests are now failing when using relocatable shader because of https://github.com/llvm/llvm-project/commit/1124bf4ab7777448b994fa399022f1a8822c8295.

I'm guessing a bit is being set for a fetch shader or a color export shader, but it should not be set in general.  However, the merging of rsrc1 is simply a bitwise-or, which would not know this.

This error occurs in some of the

[2020-11-19 16:08] Flakebi commented on #1047
The flags are at different places for different shader types, so my first guess is that after or-ing the flags, some flag may be set that should not be enabled at all.
For reference, MEM_ORDERED and WGP_MODE are at different positions, depending on the shader type.
DEBUG_MODE, IEEE_MODE (always off for us), PRIV, DX10_CLAMP, FLOAT_MODE and PRIORITY are the flags that were not set for graphics shad

[2020-11-19 16:35] s-perron commented on #1047
I add `EnableRelocatableShaders 1`.

The problem is the float mode.  I already have a fix in LGC for this.

[2020-11-19 17:14] Flakebi commented on #1047
Nice, thanks!

`EnableRelocatableShaders,1` seems to have the same effect as `-use-relocatable-shader-elf`.
The visual difference in the HDR example is the reflection inside the teapot btw, the corrupt version looks smeary and the houses are not looking great.
I can confirm that your patch fixes that.

[2020-11-20 13:10] Flakebi opened #1049 "Relocatable shader corruption"
When using relocatable shaders (`EnableRelocatableShaders,1` in `.config/amdVulkanSettings.cfg`), the following fragment shader leads to corrupted output.

This could be related to wave64/wave32. The only difference in the pipeline I could spot was the value of `PS_W32_EN` in the `PS_IN_CONTROL` register. Forcing this value to `false` fixed the corruption.

This amber script can be used to reprodu

[2020-11-24 06:49] #1047 closed

[2020-11-24 08:39] ruiling commented on #1034
The issue is fixed by: https://github.com/GPUOpen-Drivers/llvm-project/commit/45db5159fc98e8597deb66417f6c43e7f47010c8

[2020-11-24 09:00] ruiling commented on #1035
yes the spec does not has specific type requirement on OpPhi, But I really do not see any practical value of supporting such kind of usage. I guess the correct way to fix is disallowing such case.

[2020-11-24 09:36] piotrAMD commented on #1035
FWIW, this also came up recently in Khronos: https://gitlab.khronos.org/spirv/SPIR-V/-/issues/614.

[2020-11-24 09:58] afd commented on #1035
The only use case I see is the following:

- a SPIR-V to SPIR-V optimization tool may well have a transformation that moves OpFunctionCall instructions around, for example propagating such an instruction into the predecessors of a basic block and resolving their results with OpPhi.  This could enable partial specialization, for example.

- When a function returns void this would lead to void argum

[2020-11-24 10:35] tsymalla opened #1053 "LLPC compiles ambiguous code segment"
[code]

Below is a GLSL fragment shader containing the following code:

[code]

The following command seems to work properly:

`amdllpc --emit-llvm test.frag`

The question is: what does `10 *+ int(inColor.x)` compile to? The IR looks something like this:

`%27 = fptosi float %20 to i32
  %28 = mul i32 %27, 10
  %29 = sitofp i32 %28 to float`

So it seems like just the multiplication gets evaluate

[2020-11-24 10:46] Flakebi commented on #1053
I think the + is just interpreted as a positive sign: `10 * (+int(inColor.x))`, similar to `10 * (-int(inColor.x))`.
A quick glimpse at the [glsl spec](https://www.khronos.org/registry/OpenGL/specs/gl/GLSLangSpec.4.40.pdf) says that unary operators (+, -, ~, !) have a higher precedence than multiplication and division.

[2020-11-24 11:30] ruiling commented on #1035
I know the case sounds like a possible candidate use-case, but I think the question here is under what kind of case we care the void return value of a function. IMHO, we don't need to distinguish between two void values, so no need to merge them with a OpPhi. I still hope the spec be changed on this unless we really need phi with void type for any real-world usage.

[2020-11-24 12:26] afd commented on #1035
Yes, that sounds reasonable to me. Let’s await a decision on the spec I guess.

[2020-11-26 07:04] ruiling commented on #1036
I tried latest dev branch, the issue disappear. should be fixed by somebody. @afd Could you help verify?

[2020-11-27 04:07] #845 closed

[2020-11-30 10:36] tsymalla commented on #1053
Sounds reasonable. Thanks!

[2020-11-30 10:36] #1053 closed

[2020-12-01 21:26] s-perron opened #1073 "Update LGC to handle multi-table descriptor sets"
LGC is suppose to be able to work across multiple APIs.  However, in its handling of descriptor sets, it makes the assumption that there is a 1-to-1 mapping from descriptor tables to descriptor sets.  This is valid for Vulkan, but, if LGC is to be compatible with other APIs, it needs to be more general.

[2020-12-01 22:50] afd commented on #1036
Yes - I think we can close this as independently fixed.  If it turns out not to be fixed and triggerable by some other test case then the fuzzer will probably find it again and we can open another issue.

[2020-12-01 22:50] #1036 closed

[2020-12-04 12:53] dnovillo commented on #833
@afd the test `llpc/test/shaderdb/fuzzer/GraphicsFuzz_TestOpCopyObjectOfVoidType.spvasm` is now failing because recent SPIRV-Tools are rejecting `OpUndef` for `%void` type.  I believe this test was guarding against an LLVM failure before.  Should we remove it or leave it with an expected error like:

[code]

Either is fine with me.  But the actual SPIR-V in this file is now invalid.

[2020-12-04 13:09] afd commented on #833
Yes - the working group indeed decided to make this invalid and I implemented the validation - didn’t think about this test! I suggest removing it.

[2020-12-04 16:08] dnovillo commented on #833
Thanks.  I've sent https://github.com/GPUOpen-Drivers/llpc/pull/1078 for review.

[2020-12-09 13:07] Flakebi opened #1086 "[CI] Rebuilding amdvlk fails during repo init"
The last few builds of the base image failed during the repo checkout: E.g. https://github.com/GPUOpen-Drivers/llpc/runs/1523871974?check_suite_focus=true
(Last succeeding build: https://github.com/GPUOpen-Drivers/llpc/runs/1508002982?check_suite_focus=true)

Looks like a problem with python 2/3 maybe?

cc @kuhar

[2020-12-09 19:37] kuhar commented on #1086
Thanks for reporting, @Flakebi. I submitted a PR with a fix. It was basically an issue with repo x ubuntu x python versioning.

[2020-12-10 05:07] #1086 closed

[2020-12-10 09:13] Flakebi commented on #1086
Thanks for the quick fix!

[2020-12-10 15:53] kuhar opened #1092 "Sanitizer CI builds fail on Ubuntu 20.04"
The error message is:
[code]

A link to a failure: https://github.com/GPUOpen-Drivers/llpc/runs/1530537186?check_suite_focus=true.

[2020-12-10 15:53] kuhar commented on #1092
@Flakebi could you take a look?

[2020-12-11 06:30] #1092 closed

[2020-12-11 12:28] Flakebi commented on #1092
@kuhar FYI, I’m currently looking at the failing tests with gcc. Part of it is caused by uninitialized variables but I still need to track down more bugs.

[2020-12-11 17:33] kuhar opened #1096 "Tests are failing on Ubuntu 20.04 with GCC"
Two shaderdb tests started to fail after switching from 18.04 to 20.04:

[code]

Sample failure: https://github.com/GPUOpen-Drivers/llpc/runs/1537169613?check_suite_focus=true.

Sebastian suspects some memory corruption: https://github.com/GPUOpen-Drivers/llpc/issues/1092#issuecomment-743165624.

cc @s-perron @Flakebi @JaxLinAMD

[2020-12-11 17:35] kuhar commented on #1096
Local repro:

[code]

[2020-12-11 19:36] s-perron commented on #1096
I looked into this a little.  It seems like `PipelineState::findResourceNode` does not find the resource node for the shadow descriptor in the failing case.  Adding debugging output to that function changes the behaviour.  Nothing in that functions jumps out at me as incorrect.  I probably won't be looking into this unless help is needed.

[2020-12-14 11:55] Flakebi commented on #1096
I made some progress on this.
**tl;dr:** I suspect it is a bug in gcc’s tail recursive call optimization.

Single-stepping through the execution of `PipelineState::findResourceNode` showed that the failing runs with a gcc compiled amdllpc does never run the `if (nodeType == ResourceNodeType::DescriptorFmask …)` code. The assembly does not contain a check for `ResourceNodeType::DescriptorFmask`, wh

[2020-12-14 16:00] kuhar commented on #1096
@Flakebi thanks for looking into this.
I just tried upgrading gcc and g+++ to 10 and compiling under docker, but it fails in the same way. Very strange.

[2020-12-14 16:18] kuhar commented on #1096
I also tried updating libstdc++, glibc, and multilib, but that didn't help either.

[2020-12-14 16:34] Flakebi commented on #1096
Thanks for testing with gcc 10.

It’s gcc/compilation related only, so changing the standard library shouldn’t change anything. The emitted assembly for `PipelineState::findResourceNode` is missing the check for `ResourceNodeType::DescriptorFmask`.

The only two possibilities I see is either
1. through the tail recursion, gcc sees an optimization opportunity (maybe through ub), which ends up in an

[2020-12-14 16:38] kuhar commented on #1096
or 3. llpc is at fault and we get a non-local effect of some UB in the codebase

If conventional means don't help, I think using an external function that clobbers memory under preprocessor guards for gcc should be acceptable.

Reverting to older Ubuntu sounds like a much worse of an option to me and pretending like the issue doesn't exist, while it may affect real users.

[2020-12-14 16:44] kuhar commented on #1096
llvm's `benchmark.h` defines something like this:

[code]

[2020-12-16 04:54] #1073 closed

[2020-12-16 15:14] kuhar commented on #1096
The latest nightly run passed with GCC.
https://github.com/GPUOpen-Drivers/llpc/actions/runs/425624017

Thanks for the fix, Sebastian.

[2020-12-16 15:15] #1096 closed

[2021-01-12 01:44] #840 closed

[2021-01-12 02:05] #523 closed

[2021-01-18 13:15] ruiling commented on #1035
Let's close this as spec has been update.

[2021-01-18 13:15] #1035 closed

[2021-01-18 13:15] ruiling commented on #1037
Let's close this as spec has been updated to disallow this.

[2021-01-18 13:15] #1037 closed

[2021-01-21 05:36] #1034 closed

[2021-02-23 01:43] xuechen417 opened #1171 "Refactor for adjusting wave size heuristically"
Considering that many heuristic rules will be introuced to use wave64 in more cases in future, we need a module pass (i.e., PatchWaveSizeAdjust) to handle all rules and record the wave size of per stage instead of  calling `PipelineStage::getShaderWaveSize()`.
The refactor will includes:
1. Add `PipelineState::m_waveSize[ShaderStageCountInternal-1]` to record per-stage wave size.
2. Add `PipelineS

[2021-03-01 15:56] kuhar opened #1179 "[CI] Sanitizer-enabled builds are out of disk again"
These builds have been failing since Feb 26, e.g., https://github.com/GPUOpen-Drivers/llpc/actions/runs/602716819

[2021-03-01 16:27] Flakebi commented on #1179
If there are no obvious things to make the build smaller, we can build only the compiler with sanitizers and exclude xgl and pal from this build.
The important part is to run unittests with sanitizers, which does not need xgl or pal.

[2021-03-03 09:42] #1179 closed

[2021-03-05 11:53] jinjianrong commented on #206
Please re-open the issue if the issue is still there

[2021-03-05 11:53] #206 closed

[2021-03-05 11:56] #251 closed

[2021-03-05 12:16] #513 closed

[2021-03-09 10:44] #833 closed

[2021-03-09 10:44] #927 closed

[2021-03-09 10:44] #944 closed

[2021-03-26 06:14] #1049 closed

[2021-04-08 05:08] kuhar opened #1203 "New CI build failures after the latest LLPC and XGL merges"
Seems like the latest imports broke LLPC and XGL CI:
- https://github.com/GPUOpen-Drivers/llpc/actions/runs/725183732
- https://github.com/GPUOpen-Drivers/llpc/actions/runs/725930478

I opened a PR for the XGL cache-info warning: https://github.com/GPUOpen-Drivers/xgl/pull/109 and a PAL issue for unrecognized compiler flags: https://github.com/GPUOpen-Drivers/pal/issues/62

[2021-04-08 05:09] kuhar commented on #1203
cc @JaxLinAMD @Flakebi @amdrexu

[2021-04-08 06:40] amdrexu commented on #1203
Thank you. Jax will take a look and resolve it.

[2021-04-08 10:16] JaxLinAMD commented on #1203
@kuhar  what version of gcc is used? I didn't observe compile failure on ubuntu 18.04

[2021-04-08 11:53] Flakebi commented on #1203
The GitHub runners use Ubuntu 20.04 and gcc 9.3.0.

[2021-04-09 05:52] ruiling opened #1206 "Investigate and re-enable phi-of-ops optimization in NewGVN"
The existing phi-of-op optimization is buggy in NewGVN. Although there are recently some
patches by Florian to fix outstanding issues (https://reviews.llvm.org/D66924, https://reviews.llvm.org/D99987), the issue
that block us is still not fixed (https://bugs.llvm.org/show_bug.cgi?id=49873),
I haven't come up with a proper fix for my reported issue, and I believe
there may be more underlying issue

[2021-04-13 19:51] dnovillo opened #1213 "Build failure with -Werror after #1201"
Our builds are configured with `-Werror`.  They are now failing with

[code]

If think the assignment inside the `if()` is intended, given the rest of the logic.  Should this also add `!= nullptr`?

[2021-04-14 14:05] s-perron commented on #981
Looks like this has been fixed.  Thanks.

[2021-04-14 14:05] #981 closed

[2021-04-15 03:40] #1203 closed

[2021-05-18 10:52] jayfoad commented on #1206
Looks like https://bugs.llvm.org/show_bug.cgi?id=49873 is fixed upstream now?

[2021-05-26 03:46] kuhar opened #1252 "`lgc/patch/PatchImageOpCollect.cpp` fails to build"
The `PatchImageOpCollect` pass introduced by the latest merge (https://github.com/GPUOpen-Drivers/llpc/commit/e3ecd451f04d878965901b2fd508dcdacd345022) fails to build:
[code]

I think this is not an issue caught by our CI because the cmake file with all patch passes has not yet been updated to include it: https://github.com/GPUOpen-Drivers/llpc/blob/e3ecd451f04d878965901b2fd508dcdacd345022/lgc/CMa

[2021-05-26 14:44] amdrexu commented on #1252
@kuhar Thanks for reporting this. We will look into the issue.

[2021-05-27 02:58] AMD-dwang commented on #1252
llpc/lgc/patch/PatchImageOpCollect.cpp is not added to CMakeLists.txt, Why is it compiled?

[2021-05-27 03:03] kuhar commented on #1252
It's compiled in our internal builds because we `glob` all sources in this directory, and we can of course just exclude it from being build.
I opened an issue because it's unexpected to me to have source files in the tree that are broken, and it seemed like a bug/oversight to me.

[2021-05-27 03:08] kuhar commented on #1252
I think these two file should be either fixed and included in the cmake lists, or removed until they are ready to be used.

[2021-05-27 03:19] AMD-dwang commented on #1252
Thanks for your explanation. It makes more sense for us to remove them.

[2021-06-03 03:12] #1252 closed

[2021-06-29 08:22] xuechen417 opened #1302 "Support of VK_KHR_zero_initialize_workgroup_memory"
This extension allows the use of a null constant initializer on shader Workgroup memory variables, allowing implementations to expose any special hardware or instructions they may have. Zero initialization is commonly used by applications running untrusted content (e.g. web browsers) as way of defeating memory-scraping attacks.
The current architecture of the global variable is not easy to be exte

[2021-08-19 15:53] #456 closed

[2021-08-19 15:53] #474 closed

[2021-08-19 17:38] s-perron opened #1366 "Relocation on undefined symbol"
We are seeing errors caused by LLPC generating an elf file with a relocation on the symbol `lds`, but that symbol is undefined in the symbol table.  Here is a reduced example: [t.spvasm.txt](https://github.com/GPUOpen-Drivers/llpc/files/7016646/t.spvasm.txt)

To see the problem run:

[code]

The output that I see is:

[code]

[2021-08-19 19:48] s-perron commented on #1366
@xuechen417 I believe this regression was caused by https://github.com/GPUOpen-Drivers/llpc/pull/1303.

[2021-08-20 01:31] jinjianrong commented on #1366
@s-perron could the issue be fixed  by https://github.com/GPUOpen-Drivers/llpc/pull/1359?

[2021-08-20 12:41] s-perron commented on #1366
Yes that fixes the issue thanks.

[2021-08-25 02:50] masahi opened #1369 "Code generation for packed math instructions"
Hi, I'm trying to generate packed math instructions like `v_pk_fma_f16` via [TVM](https://github.com/apache/tvm) for DL inference use cases. Using the LLVM AMDGPU backend directly (via rocm), I was able to generate asm having the `v_pk_fma_f16` instruction like this https://gist.github.com/masahi/2de1a7dc87e2068ffb50ba6135273f95#file-conv2d_nhwc_float16x2-s-L495-L496. But I couldn't get the equiva

[2021-08-31 12:46] #1366 closed

[2021-09-06 14:24] dstutt commented on #1369
Hi,

as you've already discovered, this is due to the scalarization pass.
Does disabling the pass cause any performance regressions in your case?

Scalarization is still required in a lot of the use cases as there are issues due to higher register use when subregisters in the vectors are dead (but not the whole vector). Scalarizing is usually a benefit as it leads to lower register use and as a co

[2021-09-13 08:38] Flakebi opened #1403 "Rebase action does not rerun github actions"
Using `/rebase` to trigger the [rebase workflow](https://github.com/GPUOpen-Drivers/llpc/blob/dev/.github/workflows/rebase.yml) does not rerun the GitHub CI actions.
This leads to prs being merged, despite failing tests (e.g. #1398).

The solution seems to be to use a personal access token for the checkout and rebase step: https://github.community/t/triggering-a-new-workflow-from-another-workflow/

[2021-09-13 13:22] masahi commented on #1369
I confirmed that disabling the scalarization pass enable packed instructions to be generated.

However, enabling packed instructions didn't result in any speed up. On a simple convolution workload I tested, the two runtimes (the original vs modified amdvlk) are not too different.

In particular,  the assembly generated by the modified one (the scalarization disabled) is almost 2x as big as the ori

[2021-09-13 13:32] dstutt commented on #1369
Are you able to share the spirv for the shader?

[2021-09-13 13:47] kuhar commented on #1403
I think the token in the rabse action `${{ secrets.GITHUB_TOKEN }}` is not a personal one. We'd have to generate token for a user like `amdvlk-admin`. See https://docs.github.com/en/github/authenticating-to-github/keeping-your-account-and-data-secure/creating-a-personal-access-token.

As an alternative, I think we should be able to use composite actions: https://docs.github.com/en/actions/creating

[2021-09-13 13:49] masahi commented on #1369
Sorry, my comment about the binary size was not correct, since I ran auto tuning on the conv2d workload separately for two amdvlk versions, so the input SPIR-V are different for two cases.

The attached zip is the SPIR-V used to generate the packed instruction version. Using the modified amdvlk results in[ this asm](https://gist.github.com/masahi/e73468d34cd0568b122a81d3c091fb37) having `v_pk_fma_

[2021-09-14 21:28] kuhar commented on #1403
@Flakebi let me know if you need help with the implementation. Just ping me here or via email and I'll take a look.

[2021-09-16 10:49] dstutt commented on #1369
Sorry for the slow response, I've had a look at it now.
Some observations:
- Stopping the scalarization results in code of the form:
[code]
being transformed into something like this:
[code]

which looks to be in line with what I'd expect. Nearly all the differences are of this form throughout the code (looks like there's been some unrolling?)
- The register use is identical - removing scalarizati

[2021-09-16 11:19] masahi commented on #1369
Thank you for taking a look. Yes, currently the inputs to the convolution are scalar fp16 buffers, and I manually added 2-way vectorization in the inner loop to experiment with packed instruction codegen. I believe we can remove those insert/extract if TVM keeps float16x2 buffer input/output throughout.

[2021-09-16 11:53] dstutt commented on #1369
I'll take a look at some options for enabling f16 vectors through scalarization.

[2021-09-16 13:50] dstutt commented on #1369
I've created an experimental change that disables scalarization, but only for v2half types. See https://github.com/dstutt/llvm-project/tree/no-scalarize-v2f16

See if that works for you. It might be possible to upstream something based on this with target hooks to allow disabling of specific types (e.g. v2f16 for us).

[2021-09-17 07:24] masahi commented on #1369
Yes, I confirmed that this change enables `pk_fma_v16` to be generated, thank you.

For now, I'm happy with this solution. So I'll close this issue.

[2021-09-17 07:24] #1369 closed

[2021-10-19 21:57] kuhar opened #1446 "Missing tests for `--check-auto-layout-compatible`"
The `amdllpc.cpp` option:
[code]

is not covered by any tests. When I add `assert(!CheckAutoLayoutCompatible);` to `main`, `ninja check-amdllpc` passes.

This option is a bit weird as it exists `processPipeline` without building anything.

We should either add tests that exercise this code or remove this option.

[2021-10-20 03:46] kuhar opened #1448 "CI amdllpc crashes are missing symbol names in stack dumps"
Sample failing run: https://github.com/GPUOpen-Drivers/llpc/pull/1447/checks?check_run_id=3946817857

[code]

I think fixing this should be as simple as adding `update-alternatives install` for llvm-symbolizer-9 to https://github.com/GPUOpen-Drivers/llpc/blob/dev/docker/amdvlk.Dockerfile#L53.

[2021-10-20 03:46] kuhar commented on #1448
cc: @Flakebi

[2021-10-20 03:47] kuhar commented on #1448
Note that this is needed for both clang and gcc builds.

[2021-10-27 08:51] #1448 closed, assigned to kuhar

[2021-10-27 09:45] #1446 closed, assigned to kuhar

[2021-10-28 01:45] kuhar opened #1467 "amdllpc crashes when it cannot determine shader stage in LLVM IR input"
amdllpc should print an error message and gracefully exit instead of crashing.

We already have a test for this: https://github.com/GPUOpen-Drivers/llpc/blob/88e502541bf780dbdfdf86a02961148fe468e5a5/llpc/test/shaderdb/error_reporting/LlvmMissingShaderStage.ll

[2021-10-28 01:49] kuhar opened #1468 "`llpcElfWriter.cpp` does not check returned `Result`s"
I annotated functions returning `Result` to illustrate the issue:

[code]

`Result`s should either be checked or the return type should be changed.

[2021-10-28 01:51] kuhar opened #1469 "`llpcCompiler.cpp` does not check returned `Result`s"
I annotated function returning `Result` to illustrated the problem:
[code]

`Result`s should either be checked or the return type should be changed.

[2021-10-28 01:53] kuhar opened #1470 "`llpcShaderCache.cpp` does not check returned `Result`s"
I annotated functions returning `Result` to illustrate the issue:

[code]

`Result`s should either be checked or the return type should be changed.

[2021-10-28 02:08] kuhar opened #1471 "`llpcCacheAccessor.cpp` does not check returned `Result`s"
I annotated functions returning `Result` to illustrate the issue:

[code]

`Result`s should either be checked or the return type should be changed.

[2021-10-28 02:10] kuhar opened #1472 "`vkgcDefs.h` does not check returned `Result`s"
I annotated functions returning `Result` to illustrate the issue:

[code]

`Result`s should either be checked or the return type should be changed.

[2021-10-28 02:18] kuhar opened #1473 "`llpcShaderCacheManager.cpp` does not check returned `Result`s"
I annotated functions returning `Result` to illustrate the issue:

[code]

`Result`s should either be checked or the return type should be changed.

[2021-10-28 02:22] kuhar opened #1474 "Handle returned `Result`s"
This is a parent issue to handle unchecked `Result`s.

- [x] https://github.com/GPUOpen-Drivers/llpc/issues/1468
- [x] https://github.com/GPUOpen-Drivers/llpc/issues/1469
- [x] https://github.com/GPUOpen-Drivers/llpc/issues/1470
- [x] https://github.com/GPUOpen-Drivers/llpc/issues/1471
- [x] https://github.com/GPUOpen-Drivers/llpc/issues/1472
- [x] https://github.com/GPUOpen-Drivers/llpc/issues/14

[2021-11-01 09:14] xuechen417 commented on #1472
@kuhar How can I reproduce the warnings in local build? What's the compiling options?

[2021-11-01 13:40] kuhar commented on #1472
The warning itself it not the issue. The issue is that `m_pCache->SetValue` returns `Results`, but this result is ignored in `Put`:
[code]

[code]

To get the same warning as I did, you can add  `[[clang::warn_unused_result]]` in front of the `SetValue` function declaration.

[2021-11-01 13:42] kuhar commented on #1472
Also, this is described in depth in the `[RFC] Improving LLPC Result checking` thread on our mailing list that I started.

[2021-11-02 06:37] #1467 closed

[2021-11-03 14:28] kuhar opened #1490 "[CI] clang-tidy and clang-format checks don't agree on in the order of includes"
Sample failed clang-tidy run on a file sorted by clang-format:  https://github.com/GPUOpen-Drivers/llpc/runs/4093680424?check_suite_focus=true.

Test case:

[code]

[2021-11-03 14:34] kuhar commented on #1490
Maybe we could just disable include order checks in clang-tidy, since this is already covered by clang-format?

[2021-11-03 18:59] kuhar opened #1494 "[CI] Fix clang-tidy member variable naming check"
The check suggests something that I think is not in line with our coding style:
[code]

Sample run: https://github.com/GPUOpen-Drivers/llpc/runs/4096860724?check_suite_focus=true.

[2021-11-03 20:27] Flakebi commented on #1494
In the clang tidy config, members should have a `m_` prefix, but public members, class constants (`static const`) and constant members (`const`) do not.

From the coding standard:

So I guess we should have a `m_` prefix for `const` members, but not for `static const` members?

Looking at how it’s currently done, all non-public `const` members have a `m_` prefix.

[2021-11-03 20:31] kuhar commented on #1494
Can't we use `m_` for everything? I don't really care that much, it's just something I haven't seen in the part of LLVM and LLPC that I touch.

[2021-11-03 20:38] kuhar commented on #1494
Feel free to close this if this is as intended.

[2021-11-03 20:45] kuhar commented on #1494
To clarify, I thought that we should use `MReadOnlyLock` instead of `m_readOnlyLock`, and I thought that `MReadOnlyLock` looked weird. However, now I understand that the coding style suggests `ReadOnlyLock`, which is much more reasonable and clang-tidy does not complain about it.

So it's just confusion on my end caused by the way clang-tidy suggested to fix it.

[2021-11-08 20:10] kuhar commented on #1468
After https://github.com/GPUOpen-Drivers/llpc/pull/1483, there is one unhandled error that happens in `shaderdb/multiple_inputs/test_inputs/PipelineVsFs_ConstantData_Vs1Fs1.pipe`:

[code]

[2021-11-08 20:22] kuhar commented on #1468
Another failure: `shaderdb/multiple_inputs/partial_pipeline_cache_test.multi-input`

[code]

cc: + @yukli-amd

[2021-11-09 03:12] xuechen417 commented on #1468
assert(result == Result::Success || result == Result::ErrorInvalidValue); // Should it be handle like this?

[2021-11-09 03:21] kuhar commented on #1468
[code]

The purpose of check like this is to make sure that we don't miss edge cases or failures. I'm not very familiar with the code, so it's difficult for me to tell whether both statuses are fine and this is just an oversight, or whether this is a bug that needs to be fixed.

A proper fix should make explain why `ErrorInvalidValue` is fine there, handle this error value in some way, or abort if

[2021-11-09 03:28] xuechen417 commented on #1468
I see. I think it's better for @yukli-amd to fix it.

[2021-11-09 08:27] yukli-amd commented on #1468
@kuhar As I am not the original author of function `getSectionDataBySectionIndex`, but from my point of view, returning `ErrorInvalidValue` seems inappropriate here.
Calling getSectionDataBySectionIndex is trying to find the section index, but the section may not exist, so I think it might make more sense to chang the function as follows.
[code]
And then we can check the return value like,
`assert

[2021-11-09 09:10] Flakebi commented on #1494
@amdrexu, what is the desired coding style for private, const member variables?
Should it be (the current practice)
[code]

or (the current style enforced by clang-tidy)
[code]

[2021-11-09 09:16] amdrexu commented on #1494
We stick to this style
class C {
	const bool m_readOnlyLock;
};

Unless this is a static const member
class C {
	static const bool ReadOnlyLock;
};

[2021-11-09 22:23] kuhar commented on #1468
@yukli-amd Thanks for the explanation. Would it make more sense to make the function return `bool` instead then? Or `void` if nobody checks this result anyway?

[2021-11-09 22:40] kuhar commented on #1468
I updated the PR like you suggested: https://github.com/GPUOpen-Drivers/llpc/pull/1500. We can iterate on this and refine the API in a separate PR.

[2021-11-10 03:10] yukli-amd commented on #1468
From the usage, it may be better to return a `const SectionBuffer *`. I agree to refine this in a separate PR.

[2021-11-10 07:08] #1494 closed

[2021-11-10 07:20] #1490 closed

[2021-11-15 15:46] #1469 closed

[2021-11-15 15:46] #1470 closed

[2021-11-15 15:46] #1471 closed

[2021-11-15 15:47] kuhar commented on #1468
I'm going to close this for now, as the API improvements seem orthogonal to the original issue.

[2021-11-15 15:47] #1468 closed

[2021-11-15 15:47] #1472 closed

[2021-11-15 15:48] #1473 closed

[2021-11-15 15:48] #1474 closed

[2021-11-23 04:33] xiaoqiang-wang opened #1534 "Does llpc support compile "OpenGL ES" shader"
Hello, my friend,
I want to use llpc compile OpenGL ES shader program , but it report an error.
#### Could you kindly give me suggestion how I can use llpc to compile a OpenGL ES shader?

#### The Eerror message is below, it seems llpc do not support "OpenGL ES" shader
[code]

#### Q1. Does there any agrument  for compile OpenGL ES shader?

#### Q2. Can I make some changes to llpc, and make it sup

[2021-11-23 05:10] amdrexu commented on #1534
Hello, We don't support OpenGL shader (both desktop version or ES version). Only Vulkan shader is supported.

[2021-11-24 01:53] xiaoqiang-wang commented on #1534
😀
Thanks for your reply very much  my friend,

##### 1. I tried glslangValidator,  but it  not support  convert OpenGL ES shader to SPIR-V either.
##### 2.  It seems the best way do "OpenGL ES ->OpenGL " convert  is mannully change the source file 😓...

[2021-11-24 07:59] piotrAMD commented on #1534
glslangValidator does support OpenGL ES -> SPIR-V conversion, but it requires OpenGL ES version 3.1, so you need use `#version 310 es` declaration on top.

Looking at your shader, you also need to do two more modifications:
- Move the standalone uniform declarations into a single block with explicit `binding`.
- Add explicit `location` for each `in` and `out` variable (or use `--auto-map-locations

[2021-11-24 09:11] xiaoqiang-wang commented on #1534
@piotrAMD  my friend,
😃  Thanks for your kindly reply very much.

Besides above shader,  there are still 2000+ shaders  need to change mannully...

[2021-11-25 03:29] kuhar opened #1540 "amdllpc does not pick up spvgen when compiled with TSan enabled"
When I build amdllpc with TSan enabled, the build succeeds but amdllpc can't find spvgen in the spvgen directory. I confirmed that `spvgen.so` is there and has the expected modification time. When I replace this spvgen with one compiled without TSan, it gets loaded as expected and works fine.

My cmake invocation is something like:
[code]

The amdllpc error  is:
[code]

[2021-11-30 12:49] #1534 closed

[2021-11-30 13:21] xiaoqiang-wang opened #1550 "Add a "mvp* vec4(in_pos, 1.0)" analysis pass in llpc."
Hello, my friend @JaxLinAMD @amdrexu @Flakebi @dstutt @jinjianrong

  I want to add a transformation analysis pass in llpc.

### To analysis whether a vertex position match below tranformation or not.
[code]

----
I want the pass run after  AlwaysInlinePass(),  AggressiveDCEPass(), just like below.

#### AlwaysInlinePass()
#### AggressiveDCEPass()
#### MyTransAnalysisPass()  //myself pass

#### Bu

[2021-12-01 16:17] Sisyph commented on #1540
It could be failing to find the sanitizer runtime library SPVGEN needs to link against. Try ldd on spvgen.so to see if its a dependency? If that's the case, you can add the sanitizer runtime to your library path, or
@Flakebi suggested LD_PRELOAD=$(clang -print-file-name=libclang_rt.asan-x86_64.so)

[2021-12-01 16:30] kuhar commented on #1540
I did a fresh build and it's working without `LD_PRELOAD` or other changes. I think the issue might have been that I use the [mold linker](https://github.com/rui314/mold) in my previous experiment, and it's definitely not a mature piece of software. It works fine with lld.

[2021-12-01 16:30] #1540 closed

[2021-12-06 16:08] kuhar opened #1569 "[CI] GCloud warns about authentication method deprecation"
Sample run: https://github.com/GPUOpen-Drivers/llpc/runs/4430004534?check_suite_focus=true#step:4:9

[2021-12-08 07:07] AMD-dwang opened #1576 "Add LIT test for pervertex input variable"
Pervertex input variable is new feature, currently we have no LIT test for it. When it is released, we should add test to prevent future regressions.  Relevant PR: https://github.com/GPUOpen-Drivers/llpc/pull/1555

[2021-12-08 18:20] kuhar opened #1579 "Clean up and test new llpcAutoLayout functions"
The latest import (#1578) added two new functions: `checkResourceMappingCompatible` and `checkPipelineStateCompatible`.

These functions don't follow the [coding standards](docs/CodingStandards.md) and are missing tests. I left more detailed comments in #1570.

The task is to clean up the code and make sure it is tested.

[2021-12-08 18:21] kuhar commented on #1579
I temporarily assigned this to @JaxLinAMD. Feel free to reassign to someone else.

[2021-12-08 18:26] kuhar opened #1580 "Check if the GLSL file extensions unit tests needs copyright notice"
The latest import (#1578) added a copyright header in the middle of a unit test tile. The test `TEST(InputUtilsTest, IsGlslShaderFile)` in `llpc/unittests/standaloneCompiler/testInputUtils.cpp` references an external website for the list of GLSL shader file extensions but does not duplicate/reference any external implementation or code.

The task is to confirm if the test needs the copyright notic

[2021-12-08 18:26] kuhar commented on #1580
cc @jinjianrong

[2021-12-14 19:01] RarogCmex opened #1594 "llpc/tool/vfx/vfxParser.cpp sometimes build without -fPIC, causes failed linking"
I'm Gentoo Linux proxy maintainer, working for packaging AMDVLK for Gentoo. There are weird bug where

[code]

Here is the build stage of vfxParser.cpp.o from log:

[code]

It does not have  -fPIC flag

[2021-12-14 19:05] RarogCmex commented on #1594
I've tried to add -fPIC manually in Gentoo ebuild, but it still builds without
Here it the complete build log with all circumstances:
[build.log](https://github.com/GPUOpen-Drivers/llpc/files/7714130/build.log)

[2021-12-14 19:06] kuhar commented on #1594
Thanks for reporting, @RarogCmex. Are you able to provide the full cmake invocation used?

[2021-12-14 19:12] RarogCmex commented on #1594
If it doesn't have in build log, I'm not able.

I think incorrect behavior of cmake can be caused by https://github.com/GPUOpen-Drivers/llpc/blob/dev/tool/vfx/Makefile.apicompilertoolvfx
However, I am not C++ programmer, so I'm not sure.

[2021-12-14 19:13] kuhar commented on #1594
I found this in the log:
[code]

Where can we find the gentoo `.cmake` files?

[2021-12-14 19:19] RarogCmex commented on #1594
I should brief introduce you into Gentoo Ebuild system. It uses ebuild files, in ebuild there are eclass methods, which performs build. In ebuild there are cmake_compile method (may be hidden if we use default ones) which perform cmake build

gentoo_common_config.cmake comes from cmake-utils.eclass helper:
https://github.com/gentoo/gentoo/blob/master/eclass/cmake-utils.eclass

[code]

[2021-12-14 19:25] RarogCmex commented on #1594
I've pack all generated .cmake files:
[cmake-files.tar.gz](https://github.com/GPUOpen-Drivers/llpc/files/7714203/cmake-files.tar.gz)

[2021-12-14 19:26] RarogCmex commented on #1594
Also Gentoo ebuild file (instructions for Gentoo portage package manager)
[amdvlk-2021.4.2.ebuild.zip](https://github.com/GPUOpen-Drivers/llpc/files/7714213/amdvlk-2021.4.2.ebuild.zip)

[2021-12-22 18:11] bsaleil commented on #725
Fixed by https://github.com/GPUOpen-Drivers/llpc/pull/1537

[2021-12-22 18:11] #725 closed

[2022-01-04 16:20] Flakebi commented on #1403
@JaxLinAMD, could you look into this please?
I don’t have permissions to look at the token we currently use, nor do I have permissions for amdvlk-admin, so there’s not much I can do.

[2022-01-05 07:23] jinjianrong commented on #1580
if any information from the website is referenced, we need to add the copyright notice per our legal's request.

[2022-01-05 07:23] #1580 closed

[2022-01-05 09:37] JaxLinAMD commented on #1403
@kuhar would you like to help with this?

[2022-01-05 17:46] kuhar commented on #1403
I looked into this and the main limitation is that only pull_request actions can add checks at the bottom of a Pull Request. Any automated ways of triggering workflows won't be able to 'register' check runs on a PR. See https://github.community/t/workflow-dispatch-does-not-update-commit-status/125981/2.

If we care about running checks but not necessarily about displaying the status at the bottom,

[2022-01-05 17:46] kuhar commented on #1403
@Flakebi @JaxLinAMD If you are happy with such a workaround, feel free to mark this issue as closed.

[2022-01-07 01:31] AMD-dwang opened #1621 "Support the unlinked stage compilation for amdllpc"
These are for pipeline library, amdllpc can't build library now, If we hope to support it, more work is needed.

But what's the plan for amdllpc to exercise these functions eventually? I assumed that the unlinked compilation would fit the existing unliked compilation scheme in amdllpc.

I think this is really important for both manual investigations and having a robust regression test suite. CTS i

[2022-01-07 10:28] SwarzChen commented on #1569
I encountered the same warning...

[2022-01-07 19:18] kuhar commented on #1576
Ping. Is there any progress on this?

[2022-01-10 01:16] AMD-dwang commented on #1576
It was not released. I'll add it once it's published. thanks.

[2022-01-11 03:20] #1569 closed

[2022-01-13 01:33] xiaoqiang-wang commented on #1550
Hello, does anyone can give me some suggestion.

[2022-01-13 16:00] AndrewAmmerlaan commented on #1594
This kind of error occurs when you've compiled something with `-fPIC` (default on Gentoo) and try to link it to something that has not been compiled with `-fPIC`. Very likely the sources contain something that has been pre-compiled without `-fPIC`, the solution is usually to delete the pre-compiled file and force it to be rebuild by the build system. If that doesn't work you can try building the e

[2022-01-14 07:50] RarogCmex commented on #1594
@AndrewAmmerlaan Sure, cpt. Obvious. I've wondering why llpc/tool/vfx/vfxParser.cpp are building without -fPIC despite it should be build with it and there is no other visible reasons why it shouldn't. Even if I force -fPIC it builds without, so reason for this exist

[2022-01-17 05:35] kuhar opened #1645 "llpc fails to build with g++"
These failures first started occurring 3 days ago: https://github.com/GPUOpen-Drivers/llpc/runs/4811031868?check_suite_focus=true#step:8:1928.

The error message happens when building `llvm-tblgen`:
[code]

The time of the first failure lines up with the last llvm-project import: https://github.com/GPUOpen-Drivers/llvm-project/commit/c20ba7614ecdc78b3d99601423783100835200c1

[2022-01-17 05:36] kuhar commented on #1645
+cc: @JaxLinAMD @amdrexu @Flakebi @dstutt

[2022-01-17 09:14] Flakebi commented on #1550
It looks like the easiest way to find a matrix-vector multiplication is to analyze the SPIR-V input and search for `OpMatrixTimesVector` instructions. If you want to run your analysis on LLVM IR, you’ll have to find fmul-fadd patterns that look like matrix operations and as you said, that is not trivial.

[2022-01-17 11:34] Flakebi commented on #1645
I bisected the failure to [D116521](https://reviews.llvm.org/D116521) (commit https://github.com/llvm/llvm-project/commit/44e3365775101fec3fd355eda339282258d74415).

[2022-01-17 13:31] Flakebi commented on #1645
I bisected further. The cause for the compilation failure is that a new `CMAKE_MODULE_PATH` was added (https://github.com/llvm/llvm-project/commit/44e3365775101fec3fd355eda339282258d74415#diff-f6c3fac0de0e2bbd79ac93b0a6aabe77d9961c5487347a2170c78ac77770d8afR209)
and it overwrites the `llvm_check_linker_flag` function from `llvm/cmake/modules/LLVMCheckLinkerFlag.cmake`, reimplementing it as `CheckC

[2022-01-18 07:58] xiaoqiang-wang commented on #1550
@Flakebi thanks a lot my friends,
I use ``gdb`` successfully see the ``operation`` and it's ``operands``.

------
can I dump  AST to ``.dot`` file?  and  use ``graphviz`` tool to view the AST ?

or some other tool to view the AST?

[2022-01-24 21:37] kuhar commented on #1645
Given that this is still in review upstream, and once it lands we will additional wait time for a submodule bump, should we temporarily disable gcc builds?

WDYT @Flakebi @vettoreldaniele?

[2022-01-24 21:41] vettoreldaniele commented on #1645
Disabling gcc until it works again sounds good to me.

[2022-01-24 21:43] Flakebi commented on #1645
Sounds good to me too

[2022-01-24 21:46] kuhar commented on #1645
OK, I'll prepare a PR

[2022-01-26 20:59] s-perron commented on #431
Done.

[2022-01-26 20:59] #431 closed

[2022-01-27 15:43] kuhar opened #1666 "Discard-to-demote transformation flags do not change cache hash"
Enabling discard-to-demote transforms affected generated code. Currently, they also influence the hashes printed in `// LLPC calculated hash results`, but not in the cache hash embedded in the Elf note (`.xgl_cache_info: { .128_bit_cache_hash:`).

You can verify the current behavior by checking out the new test from thi PR: https://github.com/GPUOpen-Drivers/llpc/pull/1665.

The task is to check i

[2022-01-28 19:23] kuhar commented on #1666
Based on discussion with Steven. Currently:
-  The only options that are included in cache hash are those set by pipeline state.
-  All the other options are considered 'global' and included in the [compiler options hash](https://github.com/GPUOpen-Drivers/llpc/blob/7c02878905ce7e0cf6a3dece5965c4102fcc10fe/llpc/context/llpcCompiler.cpp#L412) but not in [PC UUID](https://github.com/GPUOpen-Drivers/

[2022-01-28 19:39] s-perron commented on #1666
That seems to be right.  Including the options in the compiler options hash means that LLPC will not load an incorrect internal shader cache.

However, I still wonder what is stopping the application provided cache from being generated with one set of options and then used with a different set of options.  This could cause unexpected error.  As it stands, I don't think this is a big deal because i

[2022-02-09 05:16] kuhar commented on #1579
Ping. Is there any progress on this?

[2022-02-14 16:24] kuhar commented on #1645
@Flakebi Do we have any news on this? I can see that https://reviews.llvm.org/D117537 was submitted 2 weeks ago.

[2022-02-14 16:45] Flakebi commented on #1645
Thanks, I missed that it got submitted

[2022-02-17 03:15] #1645 closed

[2022-02-28 09:58] tsymalla opened #1718 "Dead link in README"
In https://github.com/GPUOpen-Drivers/llpc/blob/dev/llpc/docs/amdllpc.md, clicking the link "LLPC is normally built as part of the AMD Open Source Driver for Vulkan" results in a 404. This is because using relative links does not work as intended here.
To make this work, the link should look like "../../../../../AMDVLK/blob/dev/README.md".
This is a bit cumbersome, but I assume using absolute link

[2022-03-07 06:58] AMD-dwang commented on #1576
https://github.com/GPUOpen-Drivers/llpc/pull/1723.
Add a new test for per-vertex input data.

[2022-03-07 06:59] AMD-dwang commented on #1621
Invalid. close it.

[2022-03-07 06:59] #1621 closed

[2022-03-24 10:24] Oschowa opened #1749 "Crash in LLVM/LLPC running tests from the vkd3d-proton test suite"
Running the `buffer_feedback_instructions_sm51` test from the [vkd3d-proton](https://github.com/HansKristian-Work/vkd3d-proton) test suite on AMDVLK crashes on v-2022.Q1.3 and a latest `dev` branch debug build with the following backtrace:

[code]

The test passes on amdgpu-pro 21.50.2, RADV and NVIDIA.
To reproduce:
- clone the vkd3d-proton source: git clone --recurse-submodules https://github.co

[2022-03-25 09:08] perlfu commented on #1749
[pipelines.zip](https://github.com/GPUOpen-Drivers/llpc/files/8349038/pipelines.zip)

The issue can be reproduced with the attached pipeline and command line compiler:
amdllpc -gfxip=10.1 PipelineCs_0x8CABCA3BC1E075D4.pipe

[2022-03-26 01:31] perlfu commented on #1749
Root cause seems to be missing TFE support for buffer.load.format intrinsics in LLVM AMDGPU backend.

[2022-03-28 06:50] #1718 closed

[2022-03-28 16:34] s-perron opened #1750 "LLPC does not employ information hiding"
One of the biggest problems I currently have with LLPC is that all of the main data structures are structs (as opposed to classes) with all members public and no member functions.  This makes code more difficult to refactor. It also makes the code too concerned with smaller details making the code harder to read.  It also places references to the member in many different files making it harder to

[2022-03-29 07:53] trenouf commented on #1750
[AMD Official Use Only]

Hi Steven

Just a placeholder reply for now...

We need to discuss this internally. A complicating factor I can think of immediately is that these are structs in the LLPC interface, and that interface (and the hashing and logging code) is shared with the driver path that uses the proprietary compiler.

Thanks.

-tpr

From: Steven Perron ***@***.***>
Date: Monday, 28 March

[2022-04-07 14:09] kuhar opened #1771 "Toolchain upgrade broke coverage builds"
The most recent toolchain upgrade broke coverage builds: https://github.com/GPUOpen-Drivers/llpc/runs/5868011955?check_suite_focus=true.

[2022-04-07 14:10] kuhar commented on #1771
cc @vettoreldaniele

[2022-04-07 14:22] vettoreldaniele commented on #1771
In the meantime, we should mitigate this and revert the toolchain change, otherwise we're going to run into serious delays with the CI. The toolchain update can be later tested on a private fork by running the `Build AMDVLK` action once we have a solution.

[2022-04-07 14:27] kuhar commented on #1771
A middle ground would be keeping clang-tidy at 12 and downgrading the other components back to 11. @Flakebi, could you take care of this?

[2022-04-07 15:46] Flakebi commented on #1771
I agree with Jakub that high memory usage is probably an issue. The coverage docker container built fine for me locally, but I suspect that it used quite a bit of memory because something killed a VM that was running in parallel.

[2022-04-07 15:52] Flakebi commented on #1771
Docker just failed with exit code 1 for me locally because https://gerrit.googlesource.com/git-repo/ was not reachable (already had a similar failure when downloading repo for something else today). That could explain the other failure @vettoreldaniele  saw.

[2022-04-07 16:36] #1771 closed

[2022-04-28 15:18] jayfoad opened #1792 "IR verification failures"
If you add the amdllpc option -verify-ir to all the RUN lines in llpc/test/ then a bunch of tests start failing. I have opened PRs for a couple of them: #1790, #1791

But there are more:
[code]

[2022-04-28 15:19] jayfoad commented on #1792
To get the helpful error messages like "Intrinsic has incorrect return type!" I had to apply a simple LLVM patch:
[code]

[2022-05-30 04:37] perlfu opened #1826 "Build options required for check-amdllpc appear to be undocumented"
Documentation describes using check-amdllpc to run LIT tests, but check-amdllpc target is unavailable in Release and Debug builds.
check-amdllpc target requires some combination of the following cmake flags:
- -DXGL_BUILD_TESTS=1
- -DXGL_BUILD_LIT=1
- -DLLPC_BUILD_TESTS=1
- -DLLPC_BUILD_LIT=1
- -DLLPC_BUILD_LLVM_TOOLS=1
- -DLLVM_INCLUDE_TESTS=ON

However I am not entirely clear on which are requir

[2022-05-30 07:12] amdrexu commented on #1826
Not sure if Jakub has time to clarify the build and usage of unit tests. We do encounter issues if someone doesn't get familiar with googletest framework.

[2022-05-30 13:52] kuhar commented on #1826
Thanks for bringing this up, I'll update the documentation. I also think it should be safe to remove the deprecated flags, they've been marked as such for close to a year now.

FYI, in case someone needs this urgently: it's best to use the [same flags as the CI](https://github.com/GPUOpen-Drivers/llpc/blob/dev/docker/amdvlk.Dockerfile#L118) when in doubt.

[2022-05-30 16:10] kuhar commented on #1826
I opened 3 PRs (against LLPC, XGL, and AMDVLK). Please take a look.

[2022-05-31 08:20] dstutt commented on #1826
Thanks for doing this. I've reviewed the 3 changes (and re-triggered the internal builds - there was an issue with one of the systems that caused a failure on one platform).
Do you think we should document the LLPC_BUILD_TESTS option somewhere too?

[2022-05-31 14:12] kuhar commented on #1826
I don't think you need to ever set `LLPC_BUILD_TESTS` manually. The only thing that comes to mind would be standalone LLPC builds, but I'd have to confirm.

[2022-06-01 14:48] #1826 closed

[2022-07-06 08:13] Ibnmardanis24 opened #1871 "Code traceability strategies"
This issue would like to raise 3 main points derived from my brief experience toying around with the compiler:

- I feel that optimization features should be off by default. Choosing to apply optimizations should be an **active** selection from the end-user, rather than the opposite.
- Even after setting off every opt option I could find, the _-dump-pass-name_ flag reveals that around 200 passes a

[2022-07-08 07:46] Flakebi commented on #1871
Vulkan expects the default to be optimized and as llpc is the compiler frontend for Vulkan, it’s following that :)

The `amdllpc` offline compiler supports command line options to disable optimizations, like `-llpc-opt=quick` (equivalent of -O1, there’s also `-llpc-opt=none`, though beware that this is untested and sometimes creates buggy code).
And, from the Vulkan API, one can set `VK_PIPELINE_C

[2022-07-08 09:39] Ibnmardanis24 commented on #1871
Interesting points.

Following on your comment,

In what sense does Vulkan require optimized shaders as input? Better even, where in the standards is this specified?

Coming from an entirely different background this seems really weird to me, any reference to the docs is appreciated!

These are the kind of options I was mentioning on my first post (I believe there is also a `-opt=none` that is pas

[2022-07-08 12:48] Flakebi commented on #1871
I agree with that, `-O0` not working is a bug. To add some context, there were llvm (amdgpu backend) bugs with `-O0`. Some of them were fixed but I think nobody did enough testing to be confident that there are no more of these bugs.
Which smoothly leads to your next question

For Vulkan, that is running the [Conformance Test Suite](https://github.com/KhronosGroup/VK-GL-CTS/tree/main/external/vulk

[2022-07-15 13:54] nhaehnle commented on #1792
FWIW, I stumbled across this independently and submitted an equivalent change upstream.

We should consider adding a CI build that runs CTS with -verify-ir and assertions enabled.

[2022-07-15 13:58] nhaehnle commented on #1750
Are there examples other than hashing, and why would this be improved by information hiding? Information hiding just replaces the problem of searching for member *variable* uses with the problem of searching for member *function* uses.

It seems to me that perhaps the core issue is not so much information hiding but that certain "generic functionality" is spread across various places instead of be

[2022-07-15 14:32] jayfoad commented on #1792
Ah yes, https://reviews.llvm.org/D128743, thanks!

Sounds good to me!

[2022-07-15 15:49] nhaehnle opened #1892 "Cleanup the pass pipeline"
Reasoning from first principles, a principled pass pipeline for our compiler should arguably look like:

1. Translate from SPIR-V to a high-level LLVM IR-based representation.
2. Optimizations based on the high-level representation. This is where I'd expect to see heavyweight transforms like loop transforms.
3. Lower the high-level LLVM IR-based representation to a low-level, AMDGPU-backend-compat

[2022-07-18 04:31] oscarbg commented on #1369
seeing https://github.com/GPUOpen-Drivers/AMDVLK/issues/279
seems also a v2int16 tweak could be nice for vkpeak in addition to v2f16 tweak in:
https://github.com/dstutt/llvm-project/tree/no-scalarize-v2f16
@dstutt can help?

[2022-07-18 14:45] nhaehnle commented on #1892
Lots of good points.

Absolutely. I suspect part of the issue with how and when we run cleanup passes is that lowering-style passes are fairly spread out. If we did more of the lowering in one go, we'd have fewer places where cleanup is desirable.

I actually kind of think that PatchPreparePipelineAbi fits in with everything else that does lowering to backend-compatible IR. I see PatchEntryPointMu

[2022-08-09 01:32] #1576 closed

[2022-11-01 07:15] xuechen417 opened #2109 "Make XFB query counter increment even if XFB output are not written to"
**Description**
`VK_QUERY_TYPE_TRANSFORM_FEEDBACK_STREAM_EXT` is expected to work if the shader doesn't write to any of its Xfb decorated outputs. The [spec](https://registry.khronos.org/vulkan/specs/1.3-extensions/html/vkspec.html#queries-transform-feedback) said "For each drawing command, the count is incremented as vertex attribute outputs are captured to the transform feedback buffers while tr

[2022-11-03 04:00] xuechen417 commented on #2109
Got it. I have updated the issue. Is it OK?

How about XFB in vertex and tessellation shaders?

Sure. [issue.zip](https://github.com/GPUOpen-Drivers/llpc/files/9925518/issue.zip)

[2022-11-03 04:22] amdrexu commented on #2109
@nhaehnle I add you to the watcher list of an internal issue ticket. There, you can get more detailed context. The issue is also discussed in Khronos internally. The link is attached to the context mail thread in the issue ticket.

[2022-11-03 10:08] nhaehnle commented on #2109
Thank you for updating the issue description, and thank you for this additional context, I will take a look.

I believe the same logic applies: the counters should be incremented even if the output variable(s) are never written.

[2022-11-03 11:03] nhaehnle commented on #2109
I agree with your analysis, let's have a discussion about the right solution.

Looking at the provided sample, after SPIRV-to-LLVM translation we have roughly:
[code]
So, the output global variable is still there (`@1`), but the problem is that it's not referenced anywhere. This is different from the input SPIR-V, where the variable is referenced as part of the entry point interface:
[code]
It is

[2022-11-04 04:51] xuechen417 commented on #2109
Hooray! Thank you for the proposed approach with detailed explanations! I will follow your proposal to implement.